{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Thanks For Signing Up!</em></h1>
        </section>
        <!-- /TITLE BOX -->

        <!-- ARTICLE TEXT -->
        <section class="article-text">

          <p>This is confirmation that the email address you provided has been added to the <em>Dead Simple React Native</em> announce list.</p>

          <p>You should receive a confirmation email immediately. If you don't receive your confirmation within 24 hours, you may have entered your email address incorrectly. Please give it another shot. If <em>that</em> doesn't work, get in touch, and we'll get you sorted out!</p>

          <h3>Looking for More Great Stuff?</h3>

          <p>We offer a bunch of awesome free content here at CloseBrace. If you're not totally familiar with React or if you'd like to go full-stack, you should definitely check out our <a href="/categories/five-minute-react">Five Minute React</a> course. Or you could <a href="/categories/nodejs-basics">check out our detailed Node.js/Express tutorials</a>, or our weekly <a href="/categories/js-quick-hits">JS Quick Hits</a> series of individual JavaScript lessons. We've also got a handy <a href="/expressjscheatsheet">Express.js Cheat Sheet</a> that comes with some cool added bonuses. More great JavaScript content is on the way, as well!</p>

          <p>Thanks again,</p>

          <p>Christopher Buecheler</p>
          <p>Founder</p>

        </section>
        <!-- /ARTICLE TEXT -->

      </article>
      <!-- /CONTENT -->