{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Thanks For Buying!</em></h1>
        </section>
        <!-- /TITLE BOX -->

        <!-- ARTICLE TEXT -->
        <section class="article-text">
          <p>
            Please check the email you entered into the checkout form for a link to a full listing of the lessons you've purchased.
          </p>
          <h3>If you purchased the React-Only package</h3>
          <p>
            Please <a href="">download this zip file</a>, which includes a text-based summary of the first 24 lessons, all of the code generated through the end of tutorial 24, and installation instructions for that code.
          </p>
          <h3>If you purchased the Full-Stack Package</h3>
          <p>
            You can download the above stuff if you want &hellip; but you won't need it, since we'll be going through everything! You'll be emailed with Slack access information within one business day.
          </p>
        </section>
        <!-- /ARTICLE TEXT -->

      </article>
      <!-- /CONTENT -->