{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Thanks For Buying!</em></h1>
        </section>
        <!-- /TITLE BOX -->

        <!-- ARTICLE TEXT -->
        <section class="article-text">
          <p>
            Please check the email you entered into the checkout form for a link to a full listing of the lessons you've purchased.
          </p>
          <h3>If you purchased the Full-Stack Package</h3>
          <p>
            <strong>Video Updates</strong>
          </p>
          <p>
            Some of the text tutorials have changed since the videos were recorded. Most of these are very minor changes, but important ones. This document tells you exactly what's changed (and what code you need) for each video that no longer quite syncs up.
          </p>
          <ul>
            <li><a href="https://closebrace-videos.nyc3.digitaloceanspaces.com/five-minute-react/Five%20Minute%20React%20-%20Video%20Updates.html">Download HTML file</a></li>
            <li><a href="https://closebrace-videos.nyc3.digitaloceanspaces.com/five-minute-react/Five%20Minute%20React%20-%20Video%20Updates.pdf">Download PDF file</a></li>
          </ul>
          <p>
            You can download the other stuff below if you want &hellip; but you won't need it, since we'll be going through everything! You'll be emailed with Slack access information within one business day.
          </p>
          <h3>If you purchased the React-Only package</h3>
          <p>
            We have a whole bunch of files for you! You can either <a href="https://closebrace-videos.nyc3.digitaloceanspaces.com/five-minute-react/five_minute_react.zip">download everything listed below in one zip file</a> or download them piecemeal using the links below.
          </p>
          <p>
            <strong>Text-based summary of the first 24 lessons</strong>
          </p>
          <ul>
            <li><a href="https://closebrace-videos.nyc3.digitaloceanspaces.com/five-minute-react/Five%20Minute%20React%20-%20First%2024%20Tutorials.docx">Download DOCX file</a></li>
            <li><a href="https://closebrace-videos.nyc3.digitaloceanspaces.com/five-minute-react/Five%20Minute%20React%20-%20First%2024%20Tutorials.pdf">Download PDF file</a></li>
          </ul>
          <p>
            <strong>Video Updates</strong>
          </p>
          <p>
            Some of the text tutorials have changed since the videos were recorded. Most of these are very minor changes, but important ones. This document tells you exactly what's changed (and what code you need) for each video that no longer quite syncs up.
          </p>
          <ul>
            <li><a href="https://closebrace-videos.nyc3.digitaloceanspaces.com/five-minute-react/Five%20Minute%20React%20-%20Video%20Updates.html">Download HTML file</a></li>
            <li><a href="https://closebrace-videos.nyc3.digitaloceanspaces.com/five-minute-react/Five%20Minute%20React%20-%20Video%20Updates.pdf">Download PDF file</a></li>
          </ul>
          <p>
            <strong>All app code through tutorial #24</strong>
          </p>
          <ul>
            <li><a href="https://closebrace-videos.nyc3.digitaloceanspaces.com/five-minute-react/musiclist_code.zip">Download ZIP file</a></li>
          </ul>
          <p>
            <strong>Installation document for above code</strong>
          </p>
          <ul>
            <li><a href="https://closebrace-videos.nyc3.digitaloceanspaces.com/five-minute-react/installation.txt">Download TXT file</a></li>
          </ul>
        </section>
        <!-- /ARTICLE TEXT -->

      </article>
      <!-- /CONTENT -->