{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Awesome!</h1>
          <h2>Glad to hear you're still interested</h2>
        </section>
        <!-- /TITLE BOX -->

        <!-- THANKS TEXT -->
        <section class="article-text">

          <p>
            I appreciate your continued enthusiasm for CloseBrace weekly and I'm really glad you're sticking around. It's been awesome helping out so many developers every week, and as an added bonus, I've learned a ton while researching these tutorials. If not for readers like you, there'd be no reason to do it, so &hellip; thanks!
          </p>

          <p>
            See you on Friday!
          </p>

          <p>
            &mdash;Chris
          </p>

        </section>
        <!-- /THANKS TEXT -->

      </article>
      <!-- /CONTENT -->
