{{!< default}}

      <!-- stripe integration -->
      <script src="https://checkout.stripe.com/checkout.js"></script>

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Thanks!</h1>
        </section>
        <!-- /TITLE BOX -->

        <!-- THANKS TEXT -->
        <section class="article-text">

          <p>
            Your payment has been received. You should receive a recipt at the email address you entered. If you do not receive a receipt within 24 hours, please email <a href="mailto:billing@closebrace.com">billing@closebrace.com</a> for support.
          </p>

          <p>
            I'll be in touch directly to discuss your sponsorship with you!
          </p>

          <p>
            &mdash;Chris
          </p>

        </section>
        <!-- /THANKS TEXT -->

      </article>
      <!-- /CONTENT -->
