{{!< default}}

      <!-- stripe integration -->
      <script src="https://checkout.stripe.com/checkout.js"></script>

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Sponsor the CloseBrace Weekly Newsletter</h1>
          <h2>Get your product, service, job posting, etc in front of 5,000 JavaScript developers of all skill ranges.</h2>
        </section>
        <!-- /TITLE BOX -->

        <!-- THANKS TEXT -->
        <section class="article-text">

          <p>
            More information will be coming to this page shortly. For now, here is a convenient payment gateway. Note: neither your credit card info nor your email address is stored on CloseBrace's servers.
          </p>

          <div id="newsletterSponsorship" style="width: 300px; margin-bottom: 2rem;">
            <fieldset>
              <label> Select Sponsorship Level</label>
                <select class="level-select" id="levelSelect">
                  <option value="25000">One Week - $250</option>
                  <option value="90000">Four Weeks - $900</option>
                </select>
              </label>
            </fieldset>
            <button href="#" class="btn btn-primary btn-checkout" id="btnCheckout">Check Out</button>
          </div>

          <p>
            Thanks!
          </p>

          <p>
            &mdash;Chris
          </p>

        </section>
        <!-- /THANKS TEXT -->

      </article>
      <!-- /CONTENT -->
