{{!< default}}

      <!-- stripe integration -->
      <script src="https://checkout.stripe.com/checkout.js"></script>

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Sponsor the CloseBrace Weekly Newsletter</h1>
          <h2>Get your product, service, job posting, etc in front of 9,500+ JavaScript developers of all skill ranges.</h2>
        </section>
        <!-- /TITLE BOX -->

        <!-- THANKS TEXT -->
        <section class="article-text">

          <p>
            Thanks for your interest in sponsoring CloseBrace Weekly! The newsletter is viewed by thousands of JavaScript developers of all skill levels every month, so it's a great way to get your product, service, or job opening out in front of the people you want to reach!
          </p>

          <h3>Newsletter Statistics</h3>

          <p>
            Current as of January, 2019.
          </p>

          <ul>
            <li><strong>Subscribers:</strong> 12,500+</li>
            <li><strong>Avg gained per week:</strong> 200+</li>
            <li><strong>Avg lost per week:</strong> 25</li>
            <li><strong>Avg open rate, 2019:</strong> 10%</li>
            <li><strong>Avg click rate, 2019:</strong> 1%</li>
            <li><strong>Audience:</strong> JavaScript developers of all skill levels, but leaning toward mid-level developers looking to skill up in new JS technologies</li>
            <li><strong>Delivery:</strong> The newsletter goes out at around 8:00 AM Eastern Time every Friday morning. Newsletters are published 51 weeks / year (I take the week between Christmas and New Years off).</li>
            <li><strong>Content:</strong> Each newsletter contains the following
              <ul>
                <li>Brief Introductory Text</li>
                <li>Sponsorship Text</li>
                <li>Resource of the Week (github repo, website, or other tool that I think is cool or useful).</li>
                <li>Get a JavaScript Job (job posting or postings)</li>
                <li>Tutorial. Topics run the gamut from language specifications ("here's how ES6 arrow functions work") to explanations of how node modules work, to refactoring user code.</li>
              </ul>
            </li>
            <li><strong>Example Newsletter:</strong> <a href="https://www.getdrip.com/broadcasts/387087187/d81d429ab6beb2e30e5ec" target="_blank">click here</a></li>
          </ul>


          <h3>Current Pricing</h3>

          <ul>
            <li>Job Posting - Single line: $50</li>
            <li>Job Posting - Short Custom Paragraph: $150</li>
            <li>Sponsorship - Single Week: $400</li>
            <li>Sponsorship - Four Week Block: $1,400 - save $200!<br />(non-consecutive weeks)</li>
          </ul>

          <p>
            Note: there can be up to two single-line job postings and one multiline job posting per newsletter. There can only ever be one sponsor per newsletter.
          </p>

          <h3>Buy Now</h3>

          <p>You can purchase directly and I will contact you to work out placement, or you can <a href="mailto:billing@closebrace.com">contact me</a> first and we can work that out before you use this page to pay.

          <div id="newsletterSponsorship" style="width: 300px; margin-bottom: 2rem;">
            <fieldset>
              <label>Select Sponsorship Level</label>
                <select class="level-select" id="levelSelect">
                  <option value="5000">Job Posting (short) - $50</option>
                  <option value="15000">Job Posting (long) - $150</option>
                  <option value="40000">One Week Sponsorship - $400</option>
                  <option value="140000">Four Week Sponsorship - $1,400</option>
                </select>
              </label>
            </fieldset>
            <button href="#" class="btn btn-primary btn-checkout" id="btnCheckout">Check Out</button>
          </div>

          <p>
            Thanks!
          </p>

          <p>
            &mdash;Chris
          </p>

        </section>
        <!-- /THANKS TEXT -->

      </article>
      <!-- /CONTENT -->
