{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Get Weekly JavaScript Tutorials</h1>
          <h2>Tips, Tricks, and Micro-tutorials in your inbox, every Friday</h2>
        </section>
        <!-- /TITLE BOX -->

        <!-- SUBSCRIBE TEXT -->
        <section class="article-text">
          <p>
            Looking for more great stuff from CloseBrace? Our weekly newsletter keeps you up to date on what's been posted, and also delivers our free <em>JS Quick Hits</em> series of tutorials a week ahead of schedule. No ads, no BS, just JavaScript.
          </p>
          <h3>Join The List!</h3>
          <form action="https://www.getdrip.com/forms/33119189/submissions" method="post" data-drip-embedded-form="33119189">
            <fieldset style="width: 300px; margin-bottom: 30px;">
              <div>
                  <label for="drip-email">Email Address<sup style="color:#A00">*</sup>
                  <input type="email" id="drip-email" name="fields[email]" value="" /></label>
              </div>
              <div>
                  <label for="drip-first-name">First Name
                  <input type="text" id="drip-first-name" name="fields[first_name]" value="" /></label>
              </div>
            <div>
              <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button" class="btn btn-primary" />
            </div>
          </fieldset>
        </form>

        <p class="tiny">
          <sup style="color:#A00">*</sup> required
        </p>

        </section>
        <!-- /SUBSCRIBE TEXT -->

      </article>
      <!-- /CONTENT -->

      <!-- SIDEBAR -->
      <aside>
      </aside>
      <!-- /SIDEBAR -->