{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Thanks For Signing Up</h1>
          <h2>We'll see you on Friday</h2>
        </section>
        <!-- /TITLE BOX -->

        <!-- THANKS TEXT -->
        <section class="article-text">

          <p>
            If you don't receive an email from me within 24 hours, it might mean there was a typo in the email address you put into the form. Please trying singing up again.
          </p>

          <p>
            Are you sick of looking at the same Express.js commands over and over again? I put together a sweet Express.js cheat sheet that you might find useful. For more info, head on over to my <a href="/expressjscheatsheet">Express.js Cheat Sheet page</a>.
          </p>

          <p>
            Enjoy!
          </p>

          <p>
            &mdash;Chris
          </p>

        </section>
        <!-- /THANKS TEXT -->

      </article>
      <!-- /CONTENT -->
