/* The Basics */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
body {
    background: $color-grey-ultralight;
    color: $color-text;
    text-align: center;
    font-size: 1rem;
}

a:link, a:visited {
    color: $color-link;
    text-decoration: none;
}
a:hover {
    color: $color-link-hover;
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  color: $color-brand-secondary;
  margin: 0 0 1rem 0;
}

*.center { text-align: center; }
*.no-margin { margin: 0; }

span.tiny,
p.tiny {
  font-size: .75rem;
}

/* Let's give lists a little breathing room for crap's sake */
ul, ol {
  li {
    margin-bottom: .5rem;
  }
}

/* Shared Layout */
.top-border {
  width: 100%;
  height: 10px;
  margin: 0;
  background-color: $color-brand-primary;
  background-image: url("/images/sprite_corner.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 51px 10px;
}