.comment, .add-comment {
  width: 100%;
  border: 1px solid $color-grey-light;
  display: flex;
  flex-wrap: wrap;
  background: #FFF;
  margin-bottom: 1rem;

  .comment-top {
    flex-basis: 100%;
    background: lighten($color-grey-light, 10);
    text-align: right;
    display: block;
    line-height: 1;
    font-size: .8125rem;

    span.score {
      margin-right: 15px;
      padding: 8px 10px;
    }
    a.plus-one, span.plus-one {
      display: inline-block;
      font-size: .8125rem;
      margin: 0;
      padding: 8px 10px;
    }
    a.plus-one:link, a.plus-one:visited, span.plus-one {
      background: #EEE;

      &.on {
        background: $color-brand-primary;
        color: #FFF;
      }
    }
    a.plus-one:hover {
      background: $color-brand-primary;
      color: #FFF;
      text-decoration: none;
    }
  }

  .author {
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: .8125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 0 0 95px;

    .user-avatar {
      width: 45px;
      position: relative;
      padding: 0;
      line-height: 1;
      margin: 0 auto .5rem auto;
      font-size: 0;

      img.user-icon {
        width: 45px;
        height: 45px;
        margin: 0;
        padding: 0;
        line-height: 1;
      }
      a.pro-badge {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 0.5rem;
        background: #ffde5b;
        color: #FFF;
        padding: 1px 3px;
        border-radius: 3px;
        text-transform: uppercase;
        line-height: 1;
        text-decoration: none;
      }
    }
    .score {
      font-size:.6875rem;
      color:#CCC;
    }
  }
  .text {
    padding: 10px;
    position: relative;
    flex: 1;
    overflow: auto;

    &.text-flagged {
      color: lighten($color-warning, 40);
    }

    h5 {
      margin: 0 30px .5rem 0;
      color: $color-grey-medium;
    }
    .md {
      max-width: 100%;
      display: block;
      p {
        margin: 0 0 1rem 0;
      }
      pre {
        width: auto;
        max-width: 100%;
        display: block;
        font-family: Consolas, monaco, monospace;
        font-size: .75rem !important;
        margin: 0 0 1em 0;
        padding: 15px;
        line-height: 1.2;
        background: #FFF;
        border: 1px solid #CCC;
        overflow: auto;
      }
    }
    .plus-one {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .links {
      text-align: right;
      text-transform: uppercase;
      font-size: .875rem;
      color: $color-text;

      .flag {
        color: #C00;
      }
    }
  }
}

.add-comment {
  text-align: right;

  fieldset {
    margin: 0;

    textarea {
      width: 100%;
      max-width: 100%;
      height: 60px;
      padding: 10px;
      margin: 0 0 .5rem 0;
      text-align: left;
    }

  }

  .text {
    border-left: 1px solid $color-grey-light;

    .button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: .875rem;
        margin: 0;
        padding: 0;
      }
    }
  }
}