/* Code Box */
* div.code-box {
  width: 100%;
  margin-bottom: 1rem;
  overflow: auto;

  h5 {
    display: block;
    margin: 0;
    padding: 5px 10px;
    background: $color-grey-light;
    font-size: .8125rem;
    font-weight: bold;
    color: $color-text;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    border: 1px solid $color-grey-dark;
    border-bottom: 0;
  }
  pre {
    width: auto;
    max-width: 100%;
    display: block;
    font-family: Consolas, monaco, monospace;
    font-size: .75rem !important;
    margin: 0 0 1em 0;
    padding: 15px;
    line-height: 1.2;
    background: #FFF;
    border: 1px solid $color-grey-dark;
    overflow: auto;
  }
}

/* Inline Code */
* .article-text code {
  background: $color-grey-light;
  border: 1px solid darken($color-grey-light, 10);
  display: inline-block;
  font-family: consolas, "courier new";
  font-size: 1rem;
  line-height: 1.2;
  padding: 0 3px;
}
// fix for comments md blocks
* .comments .text .md p code {
  background: $color-grey-light;
  border: 1px solid darken($color-grey-light, 10);
  display: inline-block;
  font-family: consolas, "courier new";
  font-size: 1rem;
  line-height: 1.2;
  padding: 0 5px;
}

/* Tip Box */
* div.tip-box {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #844;
  background: #FFD6D6;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;

  h4 {
    display: block;
    margin: 0 0 1rem 0;
    padding: 5px 10px;
    background: #844;
    font-size: 1rem;
    font-weight: bold;
    color: #FFF;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    border-bottom: 0;
  }
  p {
    margin: 0 0 1rem 0;
    padding: 0 15px;
    font-size: .875rem;
  }
  ul, ol {
    font-size: .875rem;
    padding: 0 15px 0 40px;
  }
  a:link, a:visited {
    color: #A00;
  }
  a:hover {
    color: #F00;
  }
  .more {
    display: none;
  }

}
