/* Helpers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.browserupgrade {
  border: 1px dashed #F00;
  padding: 30px;
  margin: 30px;
  background: #FFF6F6;
}

*.hide-phone {
  @media only screen and (max-width: 450px) {
    display: none !important;
  }
}
*.hide-mobile {
  @media only screen and (max-width: 850px) {
    display: none !important;
  }
}
*.hide-above-mobile {
  @media only screen and (min-width: 851px) {
    display: none !important;
  }
}

/* Flash Messages */
.alert {
  display: block;
  width: 100%;
  max-width: 1140px;
  padding: 10px 20px;
  border: 1px solid $color-grey-light;
  background: #FFF;
  margin: 0 auto 25px auto;

  h4 {
    margin: 0 0 .25rem 0;
    color: $color-text;
    font-weight: 600;
  }
  p {
    margin: 0;
    padding: 0;
  }
  &.alert-info {
    background: #d5efff;
    border-color: #48a6e1;

    h4, p {
      color: #1075b6;
    }

  }
  &.alert-success {
    background: #d3ffd2;
    border-color: #61df5e;

    h4, p {
      color: #14a011;
    }
  }
  &.alert-warning {
    background: #fdffcc;
    border-color: #f5ef87;

    h4, p {
      color: #bc9f17;
    }
  }
  &.alert-danger {
    background: #ffdbdb;
    border-color: #d85c5c;

    h4, p {
      color: #AA0000;
    }
  }
}

/* CSS Spinner */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #AAA;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}