/* Small-sized screens */

/* Header */
header {
  background-color: #FFF;
  border-top: 5px solid $color-grey-dark;
  display: flex;
  min-height: 60px;
  border-bottom: 1px solid $color-grey-light;
  box-shadow: 0px 0px 5px rgba(16,147,71,0.5);
  width: 100%;
  padding: 0;
  justify-content: center;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  margin: 0 0 30px 0;
  z-index: 10;
  position: relative;

  .inner {
    padding:0;
    width: 100%;
    max-width: 1200px;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .logo {
    border-bottom: 1px solid $color-grey-light;
    border-left: 1px solid $color-grey-light;
    border-right: 1px solid $color-grey-light;
    padding: 15px;
    flex-basis: 40%;
    order: 1;
    height: 60px;
    display: flex;
    align-items: center;

    img.img-logo {
    width: 100%;
    display: flex;
    }
  } // end logo
  .main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
    flex-basis: 100%;
    padding: 15px 0;
    border: 1px solid $color-grey-light;
    border-top: 0;
    height: 60px;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: inline-block;
          font-size: 1rem;
          text-transform: uppercase;
        }
      }
    }
  } // end main menu
  .search {
    order: 4;
    flex-basis: 100%;
    padding: 0;
    border: 1px solid $color-grey-light;
    border-top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn.btn-search {
      padding-left: 28px;
      background-image: url('/images/search.svg');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 5px 5px;
    }
    .search-box {
      background: rgba(255,255,255,0.94);
      border: 1px solid $color-grey-light;
      border-top: 0;
      bottom: 0;
      color: #FFF;
      display: none;
      font-size: 0;
      height: 60px;
      left: 0;
      padding: 12px 10px;
      position: absolute;
      right: 0;
      text-align: left;
      white-space: nowrap;
      width: 100%;
      z-index: 12;

      input[type=text] {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid $color-grey-light;
        height: 34px;
        padding: 8px 15px;
        line-height: 1;
        margin: 0;
        font-size: 1rem;
        width: 70%;
      }
      button.search-button {
        font-size: 1rem;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 34px;
        padding: 8px 16px;
        cursor: pointer;
        text-transform: uppercase;
        color: $color-grey-dark;
      }
    }
    a.close-link {
      display: inline-block;
      position: absolute;
      top: 5px;
      right: 5px;
      background: $color-brand-primary;
      color: #FFF;
      border-radius: 12px;
      padding: 5px 8px;
      line-height: 1;
      margin: 0;
      font-size: .875rem;
      text-decoration: none;
    }
  } // end search
  .user-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    border-right: 1px solid $color-grey-light;
    border-bottom: 1px solid $color-grey-light;
    height: 60px;
    order: 2;
    flex-basis: 60%;
    flex-shrink: 2;

    p {
      font-size: .875rem;
      margin: 0 10px 0 0;
      padding: 0;
    }
    .user-avatar {
      position: relative;

      img.user-icon {
        width: 50px;
        height: 50px;
      }
      span {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 0.5rem;
        background: #ffde5b;
        color: #FFF;
        padding: 1px 3px;
        border-radius: 3px;
        text-transform: uppercase;
        line-height: 1;
      }
    }
  } // end user box
} // end header

/* Big Horizontal Ad */
.ad-horizontal {
  width: 100%;
  max-width:600px; min-width: 320px;
  margin: 0 auto 30px auto;
  padding: 0 30px;
  text-align: center;

  p {
    font-size: .75rem;
    color: $color-grey-medium;
  }

  img {
    width: 100%;
    border: 1px solid $color-brand-primary;
  }
}

/* Content Wrapper */
#wrapper {
  margin: 0 auto;
  text-align:center;
  max-width:600px; min-width: 320px;
  padding: 0 30px 30px 30px;

  /* Home Page */
  .home {

    /* Home Page - Main Features */
    .main-features .feature .image-box img {
      height: 347px;
    }
    .main-features, .extra-features {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      .feature {
        width: 100%;
        min-width: 260px;
        max-width: 555px;
        margin-bottom: 30px;

        .image-box {
          position: relative;

          span {
            position: absolute;
            top: 5px;
            left: 5px;
            color: #FFF;
            font-size: 0.6875rem;
            background: rgba(0,0,0,0.6);
            padding: 5px 10px;
            text-transform: uppercase;
          }
          h1 {
            font-size: 1.125rem;
            margin: 0 0 .25rem 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p {
            margin: 0;
            color: $color-grey-medium;
            font-family: Georgia, Times, "Times New Roman", serif;
            font-style: italic;
          }

          img {
            width: 100%;
            min-width: 260px;
            max-width: 555px;
          }
        }
      }
    } // main-features

    /* Homepage - Feature List */
    .feature-list {
      margin: 0 0 30px 0;

      .top-border {
        margin-bottom: .5rem;
      }
      .table-posts {
        margin-bottom: 1rem;
      }
      .more-links {
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: flex;
          justify-content: center;
          text-align: center;

          li {
            display: inline-block;
            padding: 0 15px;
          }
        }
      }
    }
  } // home page

  /* Post */
  article {
    width: 100%;
    text-align: left;

    &.single-column {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    /* Title Box */
    .title-box {
      width: 100%;
      margin-bottom: 1rem;

      .tags {
        display: block;
        margin: 0 0 .75rem 0;

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {
            display: inline-block;
            margin-right: 10px;

            a {
              text-decoration: underline;
            }
          }
        }
      }
      h1 {
        margin: 0 0 .4rem 0;
      }
      h2 {
        font-family: Georgia, Times, "Times New Roman", serif;
        margin: 0 0 .4rem 0;
        color: $color-grey-medium;
        font-size: 1.25rem;
        font-style: italic;
      }
      .byline {
        font-size: .875rem;
      }
    } // end title box

    /* Intro Image */
    .intro-image {
      width: 100%;
      margin-bottom: 1rem;

      img {
        width: 100%;
        border: 1px solid $color-brand-primary;
      }
    } // end intro image

    /* Tutorial Info */
    .tutorial-info {
      border: 1px solid $color-brand-secondary;
      padding: 20px;
      background: lighten($color-brand-secondary, 40);

      p {
        margin: 0 0 1rem 0;
      }
      & p:last-child {
        margin-bottom: 0;
      }
      & ul:last-child {
        margin-bottom: 0;
      }

    }

    /* Article Text */
    .article-text {
      line-height: 1.5;
      font-size: 1.125rem;
      font-family: Georgia, Times, "Times New Roman", serif;

      h1, h2, h3, h4, h5 {
        font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
      }
    }

    /* User Profile */
    .profile-box {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;

      .image {
        width: 100%;
        margin: 0 0 1rem 0;

        img {
          display: block;
          width: 200px;
          margin: 0 auto .25rem auto;
          padding: 0;
        }
        a.image-upload {
          text-transform: uppercase;
        }
        .dropzone {
          display: none;
        }
      }
      .info {
        width: 100%;
        text-align: center;

        h4 {
          margin-bottom: .25rem;
          color: $color-grey-medium;
          text-transform: uppercase;
        }
        p {
          width: 100%;
          margin: 0 0 .5rem 0;
          padding: 0 0 .5rem 0;
          border-bottom: 1px solid $color-grey-light;

          .edit {
            display: none;
          }
        }
      }
    }
    .profile-buttons {
      text-align: right;

      .btn-save-profile {
        display: none;
      }
      .btn-cancel-profile-edit {
        display: none;
      }
    }
    .delete-account-box {
      display: none;
      background: #FFF;
      border: 1px solid $color-grey-medium;
      padding: 30px;

      p {
        margin: 0 0 1rem 0;
      }
      .buttons {
        text-align: center;
      }
    }

  } // end article

  /* Sidebar */
  aside {
    width: 100%;
    margin: 0;

    /* sidebar box */
    .sidebar-box {
      width: 100%;
      padding: 0;
      background: #FFF;
      text-align: left;
      margin: 0 0 30px 0;

      &:last-child {
        margin-bottom: 0;
      }
      .sidebar-box-inner {
        padding: 30px;

        &.ad {
          text-align: center;

          p {
            margin: 0;
            color: $color-grey-medium;
            font-size: .75rem;

            img {
              width: 100%;
              max-width: 330px;
              border: 1px solid $color-brand-primary;
            }
          }
        }
      }
    } // end sidebar box
  } // end sidebar
} // end wrapper

/* Footer */
footer {
  background: $color-grey-ultradark;
  padding: 30px;
  color: #FFF;
  min-height: 200px;

  .main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
    flex-basis: 100%;
    padding: 15px 0 0 0;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: inline-block;
          font-size: 1rem;
          text-transform: uppercase;
        }
      }
    }
  }
  .footer-menu {
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        display: inline-block;
        white-space: nowrap;
        padding: 0 10px;
      }
    }
  }
  .credits {
    line-height: 1.4rem;
  }
}