/* The Basics */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  font-family: Georgia, Times, "Times New Roman", serif;
}
body {
    background: $color-grey-ultralight;
    color: $color-text;
    text-align: center;
    font-size: 1rem;
}

a:link, a:visited {
    color: $color-link;
    text-decoration: none;
}
a:hover {
    color: $color-link-hover;
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}
.browserupgrade {
  border: 1px dashed #F00;
  padding: 30px;
  margin: 30px;
  background: #FFF6F6;
}

/* Helpers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Buttons */
.btn-primary {

  &.btn-outline {

  }
}
.btn-secondary {
    background: $color-grey-medium;
    border-radius: 10px;
    padding: 8px 8px 5px 8px;
    color: #222;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    line-height: 1;
    font-size: 1rem;

  &.btn-outline {
    border: 1px solid $color-grey-medium;
    background: #FFF;
    color: $color-grey-medium;
  }
}

/* Layout */
/* Small-sized screens */
header {
  background-color: #FFF;
  border-top: 5px solid $color-grey-dark;
  display: flex;
  min-height: 60px;
  border-bottom: 1px solid $color-grey-light;
  box-shadow: 0px 0px 5px rgba(16,147,71,0.5);
  width: 100%;
  padding: 0;
  justify-content: center;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;

  .inner {
    padding:0;
    width: 100%;
    max-width: 1200px;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .logo {
    border-bottom: 1px solid $color-grey-light;
    border-left: 1px solid $color-grey-light;
    border-right: 1px solid $color-grey-light;
    padding: 15px;
    flex-basis: 40%;
    order: 1;
    height: 60px;
    display: flex;
    align-items: center;

    img.img-logo {
    width: 100%;
    display: flex;
    }
  }
  .main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
    flex-basis: 100%;
    padding: 15px 0;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: inline-block;
          font-size: 1rem;
          text-transform: uppercase;
        }
      }
    }
  }
  .search {
    order: 4;
    flex-basis: 100%;
    padding: 0 0 15px 0;
    border-bottom: 1px solid $color-grey-light;

    .btn-search {
      padding-left: 28px;
      background-image: url('/images/search.svg');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 5px 5px;
    }
  }
  .user-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    border-right: 1px solid $color-grey-light;
    border-bottom: 1px solid $color-grey-light;
    height: 60px;
    order: 2;
    flex-basis: 60%;
    flex-shrink: 2;

    p {
      font-size: .875rem;
      margin: 0 10px 0 0;
      padding: 0;
    }

    img.user-icon {
      width: 50px;
      height: 50px;
    }
  }
}
/* Medium-sized screens */
@media only screen and (min-width: 601px) {
  header {
    border-top: 10px solid $color-grey-dark;

    .logo {
      flex-basis: 50%;
      height: 60px;
      justify-content: center;

      img.img-logo {
        max-width: 233px;
        max-height: 30px;
      }
    }
    .main-menu {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      order: 3;
      flex-basis: 75%;
      height: 50px;
      padding: 0;
      padding-left: 15px;
      border-bottom: 1px solid $color-grey-light;
      border-left: 1px solid $color-grey-light;

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          display: inline-block;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }

          a {
            display: inline-block;
            font-size: 1rem;
            text-transform: uppercase;
          }
        }
      }
    }
    .search {
      display: flex;
      order: 4;
      flex-basis: 25%;
      justify-content: flex-end;
      align-items: center;
      height: 50px;
      padding: 0 15px 0 0;
      border-bottom: 1px solid $color-grey-light;

      .btn-search {
        padding-left: 28px;
        background-image: url('/images/search.svg');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: 5px 5px;
      }
    }
    .user-box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 15px;
      border-right: 1px solid $color-grey-light;
      border-bottom: 1px solid $color-grey-light;
      height: 60px;
      order: 2;
      flex-basis: 50%;
      flex-shrink: 2;

      p {
        font-size: .875rem;
        margin: 0 10px 0 0;
        padding: 0;
      }

      img.user-icon {
        width: 50px;
        height: 50px;
      }
    }
  }
}

/* Big tablets and desktops */
@media only screen and (min-width: 1001px) {
  header {
    background-color: #FFF;
    border-top: 10px solid $color-grey-dark;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    height: 60px;
    border-bottom: 1px solid $color-grey-light;
    box-shadow: 0px 0px 5px rgba(16,147,71,0.5);
    width: 100%;
    padding: 0;
    justify-content: center;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;

    .inner {
      padding:0;
      width: 100%;
      max-width: 1200px;
      height: 60px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      border-left: 1px solid $color-grey-light;
      border-right: 1px solid $color-grey-light;
      padding: 15px;

      img.img-logo {
      height: 30px;
      display: flex;
      }
    }
    .main-menu {
      height: 60px;
      display: flex;
      align-items: center;

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          display: inline-block;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }

          a {
            display: inline-block;
            font-size: 1rem;
            text-transform: uppercase;
          }
        }
      }
    }
    .search {

      .btn-search {
        padding-left: 28px;
        background-image: url('/images/search.svg');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: 5px 5px;
      }
    }
    .user-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 15px;
      border-right: 1px solid $color-grey-light;
      height: 60px;

      p {
        font-size: .875rem;
        margin: 0 10px 0 0;
        padding: 0;
      }

      img.user-icon {
        width: 50px;
        height: 50px;
      }
    }
  }
}



#wrapper {
    margin: 0 auto;
    text-align:center;
    max-width:990px; min-width: 350px;
    padding: 0 30px 30px 30px;
}





