/* Sidebar for larger tablets */

@media only screen and (min-width: 851px) {

  /* Big Horizontal Ad */
  .ad-horizontal {
    max-width: 1000px;
  }

  /* Content Wrapper */
  #wrapper {
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
    padding: 0 30px 30px 30px;
    align-content: stretch;
    justify-content: space-around;
    display: flex;

    .ad-horizontal {
      flex-basis: 100%;
      width: auto;
    }

    /* Home Page */
    .home {

      /* Main Features */
      .main-features {

        .feature {


          .image-box {
            position: relative;

            .text-box {
              position: absolute;
              bottom: 0; left: 0;
              width: 100%;
              background: rgba(255,255,255,0.85);
              text-align: left;
              padding: 20px;
              height: 100px;
            }
            h1 {
              font-size: 1.375rem;
              padding: 0;
              line-height: 1;
            }
            p {
              color: $color-text;
            }
            a.image-link {
              line-height: 1;
              font-size: 0;
              margin: 0;
              padding: 0;
              display: block;
            }
          }
        }
      } // main-features

      /* Sub Wrap */
      .sub-wrap {
        display: flex;

        .sub-content {
          width: auto;
          margin: 0 30px 0 0;
          text-align: left;
          display: block;
          flex-basis: auto;
          flex-grow: 5;

          /* Home Page - Extra Features */
          .extra-features {
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
          } // extra features
        }
      }// sub wrap

      /* Sidebar */
      aside {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 330px;
        width: auto;
      }

    } // end home page

    /* Article */
    article {
      width: auto;
      margin: 0 30px 0 0;
      text-align: left;
      display: block;
      flex-basis: auto;
      flex-grow: 5;


      /* User Profile */
      .profile-box {
        display: flex;

        .image {
          width: auto;
          max-width: 200px;
          flex-basis: 200px;
          margin: 0 30px 1rem 0;
        }
        .info {
          width: auto;
          flex-basis: 100%;
          text-align: left;
        }
      }

    } // end article

    /* Sidebar */
    aside {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 330px;
      width: auto;
    } // end sidebar
  } // end wrapper
}