/* Smaller tablets and medium-sized screens */

@media only screen and (min-width: 601px) {

  header {

    .inner {

      /* Menu & Search */
      .menu-wrap {
        position: relative;

        .menu {

          .hamburger {
            display: none;
          } // end hamburger

          /* Main Nav */
          .main-nav {
            position: relative;
            background: transparent;
            color: $color-text;
            box-shadow: none;
            display: block;
            top: auto;
            left: auto;

            ul {
              margin: 0;
              padding: 0;
              list-style-type: none;
              text-align: left;

              li {
                display: inline-block;
                width: auto;
                margin: 0;
                padding: 0;
                margin-left: 10px;

                a {
                  display: inline;
                  width: auto;
                  padding: 0;
                  color: $color-brand-primary;
                  border-bottom: none;

                  &:hover {
                    text-decoration: underline;
                    background: transparent;
                  }
                }
              }
            }
          }
        } // end menu

        /* Search */
        .search {
          .search-box {
            width: 100%;
            height: 50px;
            top: auto;
            left: auto;
            padding: 0 20px;

            .search-box-inner {
              height: 50px;
              border-left: 1px solid $color-grey-light;
              border-right: 1px solid $color-grey-light;
              padding: 0 20px;
              position: relative;
              display: flex;
              align-items: center;

              form {
                flex-basis: 80%;
              }
            }
          }
          a.close-link {
            top: 10px;
            right: 20px;
          }
        } // end search
      }
    }
  }

  /* Big Horizontal Ad */
  .ad-horizontal {
    max-width: 850px;
  }

  /* Home Page */
  .home {

    .jumbo {
      padding: 60px;

      .wrap {
        h1 {
          font-size: 2.75rem;
        }
        h2 {
          max-width: 100%;
        }
      }
    } // end jumbo

    .learn {
      padding: 60px;

      .wrap {
        display: flex;

        .logos {
          display: flex;
          flex-basis: 120px;
          margin: 0 60px 0 0;
          width: auto;

          img {
            height: 120px;
            margin: 0 0 30px 0;
            width: 120px;
          }
        }
        .text {

          h3 {
            text-align: left;
          }
          img {
            margin: 0 auto;
          }
        }
      }
    } // end learn

    .about {
      padding: 60px;

      .wrap {
        margin: 0 auto;
        max-width: 600px;

        h3 {
          margin-bottom: .25rem;
        }
        p {
          margin: 0;
        }
        img {
          border-radius: 0;
          border: 0;
          display: block;
          float: right;
          height: 250px;
          margin: 0 0 0 30px;
          width: 250px;
        }
      }
    } // end about

    .testimonials {
      padding: 60px;
      text-align: left;

      .wrap {
        display: flex;

        .item {
          border-bottom: 0;
          flex-basis: 50%;
          margin-bottom: 0;
          margin-right: 30px;
          padding-bottom: 0;

          &:nth-child(even) {
            margin-left: 30px;
            margin-right: 0;
          }
        }
      }
    } // end testimonials

    .cta {
      padding: 60px;
    } // end cta
  } // home page

  /* Content Wrapper */
  #wrapper {
    max-width: 850px;
    width: 100%;
    padding: 0 30px 30px 30px;

    /* Home Page */
    .home {

      /* Home Page - Main Features */
      .main-features, .extra-features {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;

        .feature {
          width: auto;
          min-width: 0px;
          flex-basis: 50%;
          max-width: 570px;

          &:nth-child(odd) {
            padding-right: 15px;
          }
          &:nth-child(even) {
            padding-left: 15px;
          }

          .image-box {

            img {
              min-width: 0px;
            }
          }
        }
      } // main-features
    } // end home page

    article {

      /* Boxes for Indices */
      .category-list {
        display: flex;

        .category {
          flex-basis: 50%;

          &:nth-child(odd) {
            padding-right: 15px;
          }
          &:nth-child(even) {
            padding-left: 15px;
          }
        }
      }

      /* Big Post on Indices */
      .feature {

        .image-box {
          position: relative;

          .text-box {
            position: absolute;
            bottom: 0; left: 0;
            width: 100%;
            background: rgba(255,255,255,0.85);
            text-align: left;
            padding: 20px;
            height: 100px;
          }
          h1 {
            font-size: 1.375rem;
            padding: 0;
            line-height: 1.3;
          }
          p {
            color: $color-text;
          }
          a.image-link {
            line-height: 1;
            font-size: 0;
            margin: 0;
            padding: 0;
            display: block;
          }
        }
      }

      /* User Profile */
      .profile-box {
        display: flex;

        .image {
          width: auto;
          max-width: 150px;
          flex-basis: 150px;
          margin: 0 30px 1rem 0;

          img { width: 150px; }
        }
        .info {
          width: auto;
          flex-basis: 100%;
          text-align: left;
        }
      }
    }// end article

    /* Sidebar */
    aside {

      /* sidebar box */
      .sidebar-box {

        .sidebar-box-inner {
          padding: 30px;
        }
      } // end sidebar box
    } // end sidebar


  } // end wrapper
}
