/* Really big tablets and desktops */

@media only screen and (min-width: 1001px) {
  body {
    padding-top: 65px;
  }



  /* Big Horizontal Ad */
  .ad-horizontal {
    max-width: 990px;
  }

  /* Home Page */
  .home {

    .jumbo {
      padding: 90px;

      .wrap {
        margin: 0 auto;
        max-width: 1000px;

        h1 {
          font-size: 3.25rem;
        }
        p {
          font-size: 1.25rem;
        }
      }
    } // end jumbo

    .learn {
      padding: 90px;

      .wrap {
        margin: 0 auto;
        max-width: 1000px;

        .logos {
          align-content: flex-start;
          align-items: flex-start;
          flex-basis: 270px;
          flex-grow: 0;
          justify-content: flex-start;

          img {
            margin: 0 30px 30px 0;

            &:nth-child(even) {
              margin-right: 0;
            }
          }
        }
        .text {
          flex-basis: 460px;
          flex-grow: 1;
        }
      }
    } // end learn

    .about {
      padding: 90px;

      .wrap {
        margin: 0 auto;
        max-width: 750px;

        p {
          font-size: 1.125rem;
        }
      }
    } // end about

    .testimonials {
      padding: 90px;
      font-size: 1.125rem;

      .wrap {
        margin: 0 auto;
        max-width: 1000px;

        .item {
          border-bottom: 0;
          flex-basis: 50%;
          margin-bottom: 0;
          margin-right: 30px;
          padding-bottom: 0;

          &:nth-child(even) {
            margin-left: 30px;
            margin-right: 0;
          }
        }
      }
    } // end testimonials

    .cta {
      padding: 90px;

      h3 {
        font-size: 1.5rem;
      }
    } // end cta
  } // home page

  /* Content Wrapper */
  #wrapper {
    max-width: 1170px;

    article {
      max-width: 720px;
      flex-grow: 1;
      overflow: auto;

      &.wide {
        max-width: 1170px;
      }

      /* Boxes for Indices */
      .category-list {

        .category {
          flex-basis: 50%;

          &:nth-child(odd) {
            padding-right: 15px;
          }
          &:nth-child(even) {
            padding-left: 15px;
          }
        }
      }

      /* User Profile */
      .profile-box {
        display: flex;

        .image {
          width: auto;
          max-width: 200px;
          flex-basis: 200px;
          margin: 0 30px 1rem 0;

          img { width: 200px; }
        }
        .info {
          width: auto;
          flex-basis: 100%;
          text-align: left;
        }
      }
    }

    /* Sidebar */
    aside {
      flex-basis: 360px;
    } // end sidebar
  } // end wrapper

}