/* Really big tablets and desktops */

@media only screen and (min-width: 1001px) {
  body {
    padding-top: 100px;
  }



  /* Big Horizontal Ad */
  .ad-horizontal {
    max-width: 990px;
  }

  /* Content Wrapper */
  #wrapper {
    max-width: 1170px;

    article {
      max-width: 720px;
      flex-grow: 1;
      overflow: auto;

      /* User Profile */
      .profile-box {
        display: flex;

        .image {
          width: auto;
          max-width: 200px;
          flex-basis: 200px;
          margin: 0 30px 1rem 0;

          img { width: 200px; }
        }
        .info {
          width: auto;
          flex-basis: 100%;
          text-align: left;
        }
      }
    }

    /* Sidebar */
    aside {
      flex-basis: 360px;
    } // end sidebar
  } // end wrapper

}