// Override Bootstrap variables in this file, e.g.

$color-brand-primary: #109347;
$color-brand-secondary: #ff671c;
$color-link: #01a345;
$color-link-hover: #00c854;
$color-grey-ultralight: #fafafa;
$color-grey-light: #dddddd;
$color-grey-medium: #aaa;
$color-grey-dark: #7a7a7a;
$color-text: #444;