{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>About CloseBrace</h1>
          <h2>Just in case you'd like to know &hellip;</h2>
        </section>
        <!-- /TITLE BOX -->

        <!-- ABOUT TEXT -->
        <section class="article-text">
          <p>
            Thanks for checking out CloseBrace. We're a JavaScript tutorial and resource site dedicated to the idea that learning to code should be interesting, fun, and as frustration-free as possible. To that end, we focus on breaking down JavaScript tasks, no matter how complex, into simple step-by-step instructions that not only teach developers how to accomplish something, but more importantly, <em>why</em> the code they've written addresses their needs.
          </p>
          <h3>Tech Stack</h3>
          <p>
            CloseBrace is built with JavaScript. It runs on <a href="https://nodejs.org/" target="_blank">Node.js</a>, a JavaScript application environment. The web server is <a href="http://expressjs.com/" target="_blank">Express</a>, which runs on Node and is written entirely in JavaScript. The database, <a href="https://www.mongodb.com/" target="_blank">MongoDB</a>, isn't written in JavaScript but it stores its data in <a href="http://bsonspec.org/" target="_blank">BSON</a>, a binary-encoded form of JSON, and communicates with the server in JSON. The CMS platform we chose is <a href="http://keystonejs.com/" target="_blank">KeystoneJS</a>, which is written atop Express in (you guessed it) JavaScript. The front-end consists of hand-rolled HTML, CSS, and JavaScript. While we think Bootstrap and jQuery are pretty great in general, we didn't think they were needed here, and chose instead to shoot for performance by keeping frameworks, and thus filesize, to a minimum.
          </p>
          <h3>Employees</h3>
          <p>
            At this time, CloseBrace is entirely designed, built, written, and run by a single person: Christopher Buecheler. Here he is!
          </p>
          <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/w_250/v1483472468/pjxr7sycpaemh73xpoci.jpg" alt="Christopher Buecheler Photo" /></p>
          <p>
            Christopher, who you can definitely call Chris, is a self-taught full-stack web developer who started making websites in 1995. He's also an author of fiction, plays too many video games, doesn't play his guitars enough, and had a second job for a while as a cocktail and spirits author. You can learn more about him at his <a href="http://cwbuecheler.com" target="_blank">personal website</a>. The important thing is: he's written a lot of tutorials in his life, and people seem to like them, which is why he decided to save up some money and launch his own startup &hellip; which is why you're here, reading the text he's written about himself in the third person.
          </p>
          <p>
            Christopher has worked full-time for four startups (two of which, <a href="https://en.wikipedia.org/wiki/GameSpy" target="_blank">GameSpy</a> and <a href="https://en.wikipedia.org/wiki/OkCupid" target="_blank">OkCupid</a>, did rather well for themselves), and has contracted for several others, including up-and-comers <a href="http://voltserver.com/" target="_blank">VoltServer</a> and <a href="http://datarista.com/" target="_blank">Datarista</a>.
          </p>
        </section>
        <!-- /ABOUT TEXT -->

      </article>
      <!-- /CONTENT -->

      <!-- SIDEBAR -->
      <aside>
        {{> sidebar_newsletter }}
        {{> sidebar_ad_vertical }}
      </aside>
      <!-- /SIDEBAR -->