{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Awesome, Thanks!</h1>
          <h2>Check your email for links to your cheat sheet</h2>
        </section>
        <!-- /TITLE BOX -->

        <!-- ABOUT TEXT -->
        <section class="article-text">

          <h3>"Hey, can I use MySQL instead of MongoDB?"</h3>

          <p>
            Yes you can! Just as an additional thank you for subscribing, we wanted to give you <a href="https://closebrace.com/tutorials/2018-01-23/from-mongodb-to-mysql">this free tutorial on converting your existing ExpressJS app to using MySQL instead of MongoDB</a> for database management, which we hope will be a big help. It's been requested by a lot of readers!
          </p>

          <h3>Improve Your Express.js Workflow and Security</h3>

          <p>
           Our opinion is you can never have enough help, so check out these Express.js resources to make your life easier!
          </p>

          <ul>
            <li><a href="https://github.com/fakhrullah/sublime-expressjs-4-completion" target="_blank">Sublime Express.js 4 Completion</a> &ndash; Express.js 4 auto-completions for Sublime Text 3</li>
            <li><a href="https://atom.io/packages/expressjs" target="_blank">expressjs</a> &ndash; Collection of Express.js snippets for Atom</li>
            <li><a href="https://github.com/amandeepmittal/expressjs-vscode" target="_blank">ExpressJS-VSCode</a> &ndash; A collection of snippets for Express.js for VSCode</li>
            <li><a href="https://closebrace.com/tutorials/2017-12-20/five-minute-react-79-securing-express">Lock Down Express.js</a> &ndash; our own tutorial for keeping Express.js healthy and secure</li>
          </ul>

          <h3>More About Me</h3>

          <p>
            I'm Chris, the founder of CloseBrace and author of the various full-stack JavaScript tutorials found here, including <a href="https://closebrace.com/categories/five-minute-react">Five Minute React</a>. If you want more full-stack JavaScript training, you should follow <a href="https://twitter.com/closebracejs" target="_blank">@closebracejs</a> on twitter. In addition to positing when I've got new tutorials, I also RT various tweets that link to cool, useful, or fun resources for JavaScript developers.
          </p>

        </section>
        <!-- /ABOUT TEXT -->

      </article>
      <!-- /CONTENT -->

      <!-- SIDEBAR -->
      <aside>

      </aside>
      <!-- /SIDEBAR -->