{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Thanks For Joining</h1>
          <h2>Now here's some free stuff!</h2>
        </section>
        <!-- /TITLE BOX -->

        <!-- ABOUT TEXT -->
        <section class="article-text">

          <p>
            First things first &hellip; here's your cheat sheet!
          </p>

          <ul>
            <li><a href="http://res.cloudinary.com/closebrace/image/upload/v1515598455/expressjs_cheatsheat.pdf">High-Resolution PDF Download</a></li>
            <li><a href="http://res.cloudinary.com/closebrace/image/upload/v1515598141/expressjs_cheatsheet.png">Medium Resolution PNG Download</a></li>
            <li><a href="https://github.com/CloseBrace/expressjscheatsheet">Sweet Github Repo</a></li>
          </ul>

          <p>
            Over the next five days, you're going to receive five emails from CloseBrace, each answering a different FAQ about Express.js and the tutorial you just completed. If you don't want 'em, just check your inbox for the first one and click the unsubscribe link. No hard feelings!
          </p>

          <h3>Here's Something Extra</h3>

          <p>
            Just as an additional thank you for subscribing, we wanted to give you <a href="https://closebrace.com/tutorials/2018-01-23/from-mongodb-to-mysql">this tutorial on converting your existing ExpressJS app to using Mongoose instead of Monk</a> for database management, which we hope will be a big help. It's been requested by a lot of readers!
          </p>

          <h3>Resources</h3>

          <p>
            And, because our opinion is you can never have enough help, check out these resources to make your life easier!
          </p>

          <ul>
            <li><a href="https://github.com/fakhrullah/sublime-expressjs-4-completion" target="_blank">Sublime Express.js 4 Completion</a> &ndash; ExpressJS 4 auto-completions for Sublime Text 3</li>
            <li><a href="https://atom.io/packages/expressjs" target="_blank">expressjs</a> &ndash; Collection of Expressjs snippets for Atom</li>
            <li><a href="https://github.com/amandeepmittal/expressjs-vscode" target="_blank">ExpressJS-VSCode</a> &ndash; A collection of snippets for Express.js for VSCode</li>
            <li><a href="https://closebrace.com/tutorials/2017-12-20/five-minute-react-79-securing-express">Lock Down Express JS</a> &ndash; our own tutorial for keeping Express healthy and secure</li>
          </ul>

          <h3>Looking to Learn More?</h3>

          <p>
            Our tutorial series, <a href="https://closebrace.com/categories/five-minute-react">Five Minute React</a>, will take you through creating an entire API with Express, and a front-end with Facebook's React.js. This series is aimed at people who have JavaScript novels, but no former knowledge with React or even Express is necessary. It features full text <em>and</em> video, and it'll take you step by step through the whole thing in five-minute chunks.
          </p>

        </section>
        <!-- /ABOUT TEXT -->

      </article>
      <!-- /CONTENT -->

      <!-- SIDEBAR -->
      <aside>
        {{> sidebar_twitter }}
      </aside>
      <!-- /SIDEBAR -->