{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>CloseBrace, LLC Community Guidelines</h1>
        </section>
        <!-- /TITLE BOX -->

        <!-- COMMUNITY TEXT -->
        <section class="article-text">
          <p>
            We take our community seriously here at CloseBrace, probably because it's pretty much the entire point of the site. To that end, we're interested in creating a safe, comfortable space where people can exchange ideas without worrying about being attacked. We've got a few rules and guidelines we'd like you to be aware of. Failure to follow the rules can and will result in disciplinary actions up to and including removing an account from the site.
          </p>
          <p>
            In fact, let's get a little bit of legal speak out of the way right here:
          </p>
          <p>
            <strong>CloseBrace, LLC reserves the right to remove from this website any comment or other item of community participation created by any user, at any time, for any reason, without warning, explanation, or notification. CloseBrace, LLC also reserves the right to remove from this website any user account at any time, for any reason, without warning, explanation, or notification.</strong>
          </p>
          <p>
            With that out of the way, here are the guidelines, but really, all it comes down to is: don't be a jerk!
          </p>
          <h3>The Specifics</h3>
          <ul>
            <li>No hate speech of any kind will be tolerated. This is a one-strike-and-you're-out kind of thing, so don't go posting anything racist, sexist, homophobic, transphobic, or anything else that might be construed as a personal attack. We're not into that, here.</li>
            <li>Positivity is appreciated. Try to avoid telling people they're stupid or their code is bad, and focus on helping them instead. We're all here to learn, even those of us who've been doing this stuff for a long time!</li>
            <li>As much fun as it is to discuss politics, sports, video games, movies, television, and the weather, please try to keep comments related to the topic of discussion in a particular article or tutorial. If and when the community grows to a point that a "for the fun of it" discussion forum is required, one will be implemented.</li>
            <li>Profanity's OK, but &hellip; try not to go overboard with it, all right?</li>
            <li>Arguments about semantic subjects like tabs vs. spaces, semis vs. no-semis, indentation, what line a brace goes on, and similar will be deleted unless relevant to a specific article (for example, an article discussing tabs vs. spaces). Seriously, this is only a relevant argument if it's happening between team members on the same project, and even then there are like a billion solutions.</li>
            <li>Legitimate discussion of the limitations of a library / framerwork / etc. is highly encouraged. Unfounded badmouthing is highly discouraged. Basically, "jQuery suuuucks!" isn't interesting to us, but "let me tell you why you might not need jQuery" is <em>incredibly</em> compelling.</li>
          </ul>
          <p>
            That's it. That's the list. Go forth and comment!
          </p>

        </section>
        <!-- /COMMUNITY TEXT -->

      </article>
      <!-- /CONTENT -->

      <!-- SIDEBAR -->
      <aside>
        {{> sidebar_newsletter }}
        {{> sidebar_twitter }}
      </aside>
      <!-- /SIDEBAR -->