{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Thanks For Signing Up</h1>
          <h2>We'll see you on Friday</h2>
        </section>
        <!-- /TITLE BOX -->

        <!-- THANKS TEXT -->
        <section class="article-text">

          <p>
            You've signed up for weekly tutorial updates and JavaScript tips, delivered every Friday. If you signed up for this list by mistake, feel free to hit the unsubscribe link in the confirmation email you just got. No hard feelings! Oh, and if you haven't gotten the aforementioned confirmation email within 24 hours of signing up, it might mean there was a typo in the email address you put into the form. Please try signing up again.
          </p>

          <p>
            If you'd like even more email, not to mention a sweet Express.js cheat sheet and more goodies, you should check out the <a href="/expressjscheatsheet">Cheat Sheet signup page</a>. This is a separate email signup that will send you five emails, one per day, each answering a different Express.js FAQ. After it's done sending you those emails, it'll move you over to the weekly email &hellip; which you're already on, but no worries: the system is smart enough to realize you're already on that list. It won't double you up.
          </p>

          <p>
            Got a specific JavaScript subject you'd like to see featured in the weekly micro-tutorial? You can hit reply to any newsletter and let me know. I read all of the replies!
          </p>

          <p>
            And if none of that appeals, you can always just head on over to the <a href="/tutorials">tutorials page</a> and browse our selection.
          </p>


        </section>
        <!-- /THANKS TEXT -->

      </article>
      <!-- /CONTENT -->
