{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Express.js Cheat Sheet</h1>
          <h2>Grab your free cheat sheet and check out these other resources!</h2>
        </section>
        <!-- /TITLE BOX -->

        <!-- ABOUT TEXT -->
        <section class="article-text">

          <p>
            New to Express.js and looking for a handy syntax reference? You can grab this beautifully-designed cheatsheet in high-res PDF form for free. It fits nicely on an 8.5"x11" piece of paper (or A4 for our European friends). Just enter your email address below and we'll send you the cheat sheet!
          </p>

          <div class="signup-wrap center">
            <div style="width: 100%; max-width: 500px; padding: 20px; border:1px solid #DDD; background: #EEE;">
              <div class="mailchimp-form">
                <form action="https://www.getdrip.com/forms/406963401/submissions" method="post" data-drip-embedded-form="406963401">
                  <h3 data-drip-attribute="headline">Free Express.js Cheat Sheet</h3>
                  <fieldset>
                    <div data-drip-attribute="description"></div>
                      <div>
                          <label for="drip-email">Email Address
                            <input type="email" id="drip-email" name="fields[email]" value="" />
                          </label>
                      </div>
                    <div>
                      <input type="submit" value="Get Your Download Now" data-drip-attribute="sign-up-button" class="btn btn-primary" />
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>

          <p>
            Here's what you'll find in your inbox:
          </p>

          <ul>
            <li>High-res Cheat Sheet PDF</li>
            <li>Medium-res Cheat Sheet PNG</li>
            <li>Link to the github repo for the Cheat Sheet</li>
            <li>Some other cool Exoress.js resources</li>
          </ul>

          <h3>Who Built This?</h3>

          <p>
            I'm Chris Buecheler, <a href="/about">the founder of CloseBrace</a>, a full-stack JavaScript training site. I've been working with Node and Express since 2013. In fact, this very website runs on them. I created this cheat sheet because I thought it would be a handy resource not just for new users, but also for practiced hands who, if they're anything like me, occasionally need a refresher on syntax. Whatever your expertise level, I hope it's useful for you!
          </p>

        </section>
        <!-- /ABOUT TEXT -->

      </article>
      <!-- /CONTENT -->

      <!-- SIDEBAR -->
      <aside>
        <div style="padding: 0 30px;">
          <img src="http://res.cloudinary.com/closebrace/image/upload/w_300/v1513279121/expressjs_cheatsheet_2x_wn5xtm.png" alt="Cheatsheet Image" style="width:100%; border: 1px solid #444;" />
        </div>
      </aside>
      <!-- /SIDEBAR -->