{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Express.js Cheat Sheet</h1>
          <h2>Grab your free cheat sheet and check out these other resources!</h2>
        </section>
        <!-- /TITLE BOX -->

        <!-- ABOUT TEXT -->
        <section class="article-text">

          <p>
            New to Express.js and looking for a handy syntax reference? You can grab this beautifully-designed cheatsheet in high-res PDF form for free. It fits nicely on an 8.5"x11" piece of paper (or A4 for our European friends). Just sign up for our short series of FAQ emails using the form below.
          </p>

          <div class="signup-wrap center">
            <div style="width: 100%; max-width: 500px; padding: 20px; border:1px solid #DDD; background: #EEE;">
              <div class="mailchimp-form">
                <form action="https://www.getdrip.com/forms/406963401/submissions" method="post" data-drip-embedded-form="406963401">
                  <h3 data-drip-attribute="headline">Sign Up Now</h3>
                  <fieldset>
                    <div data-drip-attribute="description"></div>
                      <div>
                          <label for="drip-email">Email Address
                            <input type="email" id="drip-email" name="fields[email]" value="" />
                          </label>
                      </div>
                    <div>
                      <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button" class="btn btn-primary" />
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>

          <p>
            Here's what you'll get when you give us your email:
          </p>

          <ul>
            <li>Immediate access to the high-res PDF and medium-res PNG downloads for the Express.js cheat sheet</li>
            <li>Link to the github repo for the cheat sheet</li>
            <li>One email per day, for five days, each answering one of the following FAQs:
                <ul>
                  <li>Can't I just use HTML instead of Jade?</li>
                  <li>How do I host this application on a live server?</li>
                  <li>What's up with the carets and tildes in package.json?</li>
                  <li>What's all this req/res/next stuff?</li>
                  <li>How would I use this with React, Angular, or other front-end frameworks?</li>
                </ul>
            </li>
            <li>Tutorial news and JavaScript tips / mini-tutorials delivered to your inbox every Friday</li>
          </ul>

          <p>
            But wait, there's more! In addition to the all of that, you'll also get links to a bunch of excellent Express.js resources, including plugins for Sublime Text, Visual Studio Code, and Atom.
          </p>

        </section>
        <!-- /ABOUT TEXT -->

      </article>
      <!-- /CONTENT -->

      <!-- SIDEBAR -->
      <aside>
        <div style="padding: 0 30px;">
          <img src="http://res.cloudinary.com/closebrace/image/upload/w_300/v1513279121/expressjs_cheatsheet_2x_wn5xtm.png" alt="Cheatsheet Image" style="width:100%; border: 1px solid #444;" />
        </div>
      </aside>
      <!-- /SIDEBAR -->