{{!< testme}}
		<!-- CONTENT -->
		<div class="home">

      <!-- JUMBOTRON -->
      <div class="jumbo">
          <h1>Feel Like You Can’t Keep Up?</h1>
          <p>Learn New JavaScript Tech Easily with Short, Clear, Fun Tutorials</p>
          <h2>Get Started Instantly - It’s FREE!</h2>
          [mailchimp form]
          
      </div>
      <!-- /JUMBOTRON -->

		</div>
		<!-- /CONTENT -->
