{{!< wide}}
		<!-- CONTENT -->
		<div class="home">

      <!-- JUMBOTRON -->
      <div class="jumbo">
        <div class="wrap">
          <h1>Feel Like You Can’t Keep Up?</h1>
          <p class="sub">Learn New JavaScript Tech Easily with Short, Clear, Fun Tutorials Delivered to Your Inbox Every Friday</p>
          <h2>Get Started Instantly. It’s FREE!</h2>
          <form action="https://www.getdrip.com/forms/807241581/submissions" method="post" data-drip-embedded-form="807241581">
              <div>
                  <input type="email" id="drip-email1" name="fields[email]" value="" placeholder="captaincode@closebrace.com" /><br />
                  <div style="max-width: 350px; padding: 0 0 10px 0; font-size: .75rem; color:#AAA; margin: 0 auto;"><label for="drip-eu-consent"><input type="checkbox" name="fields[eu_consent]" id="drip-eu-consent" value="granted" checked> I consent to receive information and tutorials from CloseBrace by email</label></div>
              </div>

            <div>
              <input type="submit" value="Send My First Tip Now" data-drip-attribute="sign-up-button" class="btn btn-secondary btn-fat" />
            </div>
          </form>
        </div>
      </div>
      <!-- /JUMBOTRON -->

      <!-- WHAT YOU'll LEARN -->
      <div class="learn">
        <div class="wrap">
          <div class="logos">
            <img src="/images/home_logo_js.png" alt=" logo" />
            <img src="/images/home_logo_node.png" alt=" logo" />
            <img src="/images/home_logo_react.png" alt=" logo" />
            <img src="/images/home_logo_express.png" alt=" logo" />
            <img src="/images/home_logo_mongodb.png" alt=" logo" />
            <img src="/images/home_logo_webpack.png" alt=" logo" />
            <img src="/images/home_logo_react_native.png" alt=" logo" />
          </div>
          <div class="text">
            <h3>What You’ll Learn</h3>
            <p>
              At CloseBrace, JavaScript is our bread and butter. Our JS Quick Hits newsletter delivers a short tutorial each week, typically highlighting newer functionality introduced by the various ES updates. Here are some recent examples:
            </p>
            <ul>
              <li><span>Array.filter() - </span>A bunch of new Array methods were introduced in ES 2015 (aka ES6). Let's take a quick look at one of them!</li>
              <li><span>For / Of Loop - </span>A new loop introduced in ES 2015 plays great with iterators ... or plain old arrays.</li>
              <li><span>Variable Destructuring - </span>This is a personal favorite new feature of mine. Learn how to destructure your variables!</li>
              <li><span>Rest Operator - </span>The rest operator makes it easier than ever to build functions that can take any number of arguments.</li>
            </ul>
            <p>
              Every email contains a full tutorial and includes a link to a full video version. Each tutorial features complete, syntax-highlighted code samples (if your client supports HTML email). They look like this:
            </p>
            <p class="center image"><img src="/images/home_code_sample.png" alt="code sample example" /></p>
            <p>
              Newsletter not enough? We’ve got you covered with an ever-growing library of in-depth courses covering all of the buzzwords: Node.js, React and React Native, Redux, Babel, Webpack, MongoDB, and more.
            </p>
          </div>
        </div>
      </div>
      <!-- /WHAT YOU'll LEARN -->

      <!-- ABOUT -->
      <div class="about">
        <div class="wrap clearfix">
          <img src="https://res.cloudinary.com/closebrace/image/upload/w_250/v1484848633/gcaop3sf94t5fzonuqv3.jpg" alt="Christopher Buecheler picture" />
          <h3>About CloseBrace</h3>
          <p>
            I’m Christopher Buecheler, a self-taught web developer with over 20 years of professional experience. I’ve worked as a developer for a variety of internet companies. I founded CloseBrace because I love the tech I work with and wanted to share what I’ve learned with other developers. I believe anyone can learn Node, Express, React, or anything else they’d like, and I want to help you do it!
          </p>
        </div>
      </div>
      <!-- /ABOUT -->

      <!-- TESTIMONIALS -->
      <div class="testimonials">
        <div class="wrap">
          <div class="item">
            <p class="center"><img src="https://pbs.twimg.com/profile_images/906661023087841282/as8QPXdz_400x400.jpg" alt="user thumbnail" /></p>
            <p>
              <span>“CloseBrace really helped me in shifting my career from being a BioInformatician to a Web Developer. With his clear and instructive tutorials I was able to launch my first React site in two months’ time. Without CloseBrace, I wouldn't have managed.”</span> &mdash; <a href="https://twitter.com/Ansjovis86" target="_blank">Sjors van Heuveln</a>
            </p>
          </div>
          <div class="item">
            <p class="center"><img src="https://pbs.twimg.com/profile_images/488741281/n717530467_2899472_443_400x400.jpg" alt="user thumbnail" /></p>
            <p>
              <span>“Your 5 Minute ReactJS course is, in my opinion, the best React course out there. I searched high and low for someway to start using React and until I found @closebracejs I was totally lost. I am incredibly excited for the React native course you have coming.”</span> &mdash; <a href="https://twitter.com/theone85ca" target="_blank">Nick Wood</a>
            </p>
          </div>
        </div>
      </div>
      <!-- /TESTIMONIALS -->

      <!-- SECONDARY CTA -->
      <div class="cta">
        <div class="wrap">
          <h3>Ready to Learn? Let's Do This!</h3>
          <form action="https://www.getdrip.com/forms/807241581/submissions" method="post" data-drip-embedded-form="807241581">
              <div>
                  <input type="email" id="drip-email2" name="fields[email]" value="" placeholder="captaincode@closebrace.com" /><br />
                  <div style="max-width: 350px; padding: 0 0 10px 0; font-size: .75rem; color:#AAA; margin: 0 auto;"><label for="drip-eu-consent"><input type="checkbox" name="fields[eu_consent]" id="drip-eu-consent" value="granted" checked> I consent to receive information and tutorials from CloseBrace by email</label></div>
              </div>
            <div>
              <input type="submit" value="Get Free Tutorials in Your Inbox Every Friday" class="btn btn-secondary btn-fat" />
            </div>
          </form>
        </div>
      </div>
      <!-- /SECONDARY CTA -->

		</div>
		<!-- /CONTENT -->
