{{!< wide}}

      <!-- stripe integration -->
      <script src="https://checkout.stripe.com/checkout.js"></script>

      <!-- CONTENT -->
      <article class="category-dsrn" id="stripePage">

        <!-- JUMBOTRON -->
        <section class="jumbo">
          <h2 style="padding: 0;">Coming Soon!</h2>
          <h1>Dead Simple React Native</h1>
          <p>Know React? Then you could be building native mobile applications for iOS and Android one week from now.</p>
          <h2>What's Stopping You?</h2>
        </section>
        <!-- /JUMBOTRON -->

        <!-- INTRO & TESTIMONIALS -->
        <section class="intro-testimonials">
          <div class="wrap">
            <div class="flexwrap">
              <div class="intro">
                <p>
                  If you’re a React developer, you’ve probably heard about React Native. Maybe you’ve even looked into it a bit, exploring tools or tutorials that might help you pick it up. What you’ve probably found is a lot of stuff that
                </p>
                <ul>
                  <li>Jumps in at too high a level</li>
                  <li>Assumes you know stuff you don’t</li>
                  <li>Is half-finished or glosses over important information</li>
                  <li>Doesn’t even work anymore</li>
                </ul>
                <p>
                  Dead Simple React Native is a <strong>full, step-by-step course</strong> that will get you up and running with React Native. You’ll build a <strong>complete, functioning application</strong> that will work on both Android and iOS devices, and you’ll learn <strong>exactly what every line of code is doing</strong>.
                </p>
                <p>
                  We don’t call it <strong>Dead Simple</strong> for nothing. Everything is explained, from setup, to code, to visual styling, in a series of lessons that feature both full text and full video instruction, allowing you to learn in whichever way is most comfortable for you. In our basic course, you’ll build the complete app. Pick up our advanced course, and you’ll learn about adding type-checking, testing you code, testing your app, and deployment to app stores. At the end, you’ll have all of the tools you need to move forward with React Native development, confident that you can tackle future challenges.
                </p>
                <p>
                  I’m so confident this course will help you learn React Native that I offer a money-back guarantee if you’re not satisfied.
                </p>
                <p>
                  Here's the app we'll be building together!
                </p>
                <p class="center">
                  <img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_540/v1530542054/Screenshot_20180702-081334_cykilb.jpg" alt="Dead Simple Podcasts - Home Screen" />
                  <img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_540/v1530542054/Screenshot_20180702-081357_z6bqw3.jpg" alt="Dead Simple Podcasts - Detail Screen" />
                  <img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_540/v1530542054/Screenshot_20180702-081411_ko1hyn.jpg" alt="Dead Simple Podcasts - Add New Podcast Screen" />
                  <img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_540/v1530542054/Screenshot_20180702-081423_qlzttx.jpg" alt="Dead Simple Podcasts - Settings Screen" />
                </p>
              </div>
              <div class="testimonials">
                <p class="testimonial">
                  <span>“CloseBrace really helped me in shifting my career from being a BioInformatician to a Web Developer. With his clear and instructive tutorials I was able to launch my first React site in two months’ time. Without CloseBrace, I wouldn't have managed.”</span>
                  Sjors van Heuveln
                </p>

                <p class="testimonial">
                  <span>“Great tutorial, thanks! Very clear and simple instructions. You definitely deserve more subscribers.”</span>
                  Timo Ernst
                </p>

                <p class="testimonial">
                  <span>“Thank you for the tutorial series and all the useful stuff you are providing. It helped me get confident with React and understand many basics.”</span>
                  Samos
                </p>
              </div>
            </div>

            <p class="center">
              <a href="#buy" class="btn btn-secondary btn-fat">Get Notified When This Course Is Available</a>
            </p>
          </div>
        </section>
        <!-- /INTRO & TESTIMONIALS -->

        <!-- ABOUT -->
        <div class="about">
          <div class="wrap clearfix">
            <img src="https://res.cloudinary.com/closebrace/image/upload/w_250/v1484848633/gcaop3sf94t5fzonuqv3.jpg" alt="Christopher Buecheler picture" />
            <h3>About The Author</h3>
            <p>
              I’m Christopher Buecheler, founder of CloseBrace and a self-taught web developer with over 20 years of professional experience. I’ve worked for a variety of internet companies, I love to share what I’ve learned, and I’ve been writing tutorials on various subjects since I was in my teens. I believe tutorials should be thorough, fun to follow, and accessible to developers of all skill levels! The way I see it: I spend my time yelling at my computer so that you don’t have to.
            </p>
          </div>
        </div>
        <!-- /ABOUT -->

        <!-- INFO BOXES -->
        <div class="infoboxes">
          <div class="wrap">
            <div class="box flex-1">
              <h3>What Are the Prerequisites?</h3>
              <p>
                This course is intended for developers who are already experienced with React and understand things like components and state, and are comfortable working with the latest JavaScript versions (eg: ES2017). If you're looking to learn React, we humbly suggest our step-by-step <a href="http://fiveminutereact.com">Five Minute React</a> course, which will give you all of the skills you need to take Dead Simple React Native, and more!
              </p>
            </div>

            <div class="box flex-3">
              <h3>What Do I Get?</h3>

              <p>
                The Dead Simple Podcasts app that we’ll build together in this course is an extremely basic podcast player. It ingests an RSS feed, loads the podcast data, and allows you to play each entry. It has a few bells and whistles, such as auto-refreshing the feed, and an eye-pleasing design.
              </p>

              <p>
                Topics covered during the building of the application include:
              </p>

              <ul>
                <li>Accessing your device’s audio functionality</li>
                <li>Downloading resources from the internet</li>
                <li>Navigating between screens</li>
                <li>Rendering list views</li>
                <li>Native transitions and animations</li>
                <li>Custom styling of native components</li>
              </ul>
            </div>

            <div class="box listing flex-2">
              <h3 class="margin">Full Course Listing</h3>
              <div id="coursesButton" class="show"><a href="#" class="btn btn-primary btn-outline" id="btnShowAllCourses">Show All Courses</a></div>
              <div id="allCourses" class="all-courses hide">
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/01_aa55ns.jpg" alt="Dead Simple React Native 01 - What is React Native and Why Should You Use It?" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/02_t5iqla.jpg" alt="Dead Simple React Native 02 - Create React Native App and the Expo Platform" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/03_u8wohk.jpg" alt="Dead Simple React Native 03 - Basic Setup: Installing CRNA & Expo" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/04_bsxhqj.jpg" alt="Dead Simple React Native 04 - Basic Setup: Installing Device Emulators" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/05_b2v6aq.jpg" alt="Dead Simple React Native 05 - CRNA Scaffolding: What Gets Created For You?" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/06_wyz4xq.jpg" alt="Dead Simple React Native 06 - Installing Modules and Advanced Setup" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/07_rfbgmp.jpg" alt="Dead Simple React Native 07 - Building Components" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/08_q31cg4.jpg" alt="Dead Simple React Native 08 - Component: App.js" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/09_jkcbud.jpg" alt="Dead Simple React Native 09 - Shared Components" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/10_ka3taj.jpg" alt="Dead Simple React Native 10 - Home Screen and Container" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/11_ffu3rt.jpg" alt="Dead Simple React Native 11 - Add Screen and Container" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/12_t2m1zg.jpg" alt="Dead Simple React Native 12 - Detail Screen and Container" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/13_jydpf7.jpg" alt="Dead Simple React Native 13 - Settings Screen" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/14_hqtqso.jpg" alt="Dead Simple React Native 14 - React Native Style API" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/15_qubpgd.jpg" alt="Dead Simple React Native 15 - Importing and Using Images" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/16_szyjjq.jpg" alt="Dead Simple React Native 16 - Tying It All Together" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/17_wmprbt.jpg" alt="Dead Simple React Native 17 - The Expo API" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/18_ldajmt.jpg" alt="Dead Simple React Native 18 - Navigation" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/19_ch9b0a.jpg" alt="Dead Simple React Native 19 - The Store: It's Just a Big Object (sometimes)" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/20_h39cq4.jpg" alt="Dead Simple React Native 20 - Functionality: App.js and Shared Components" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/21_awdmap.jpg" alt="Dead Simple React Native 21 - Functionality: Home Screen" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/22_v6re67.jpg" alt="Dead Simple React Native 22 - Functionality: Add Screen" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/23_hyzmtx.jpg" alt="Dead Simple React Native 23 - Functionality: Details Screen" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/24_kp62b8.jpg" alt="Dead Simple React Native 24 - Functionality: Settings" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/25_yzzgeb.jpg" alt="Dead Simple React Native 25 - Wrapup" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/26_co6uuc.jpg" alt="Dead Simple React Native 26 - Type-Checking With Flow: Setup" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/27_rbondu.jpg" alt="Dead Simple React Native 27 - Type-Checking With Flow: Execution" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/28_m3nkuu.jpg" alt="Dead Simple React Native 28 - Testing With Jest Snapshots" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/29_gntvoh.jpg" alt="Dead Simple React Native 29 - Testing With Jest: Enzyme" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/30_mq3i7k.jpg" alt="Dead Simple React Native 30 - Beta Testing: Android" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/31_vnmzpi.jpg" alt="Dead Simple React Native 31 - Beta Testing: iOS" /></p>
                <p class="center"><img src="http://res.cloudinary.com/closebrace/image/upload/c_scale,q_auto,w_250/v1530576389/thumbs/dsrn/32_k6avbw.jpg" alt="Dead Simple React Native 32 - Building and Deployment" /></p>

                </div>
            </div>
          </div>
        </div>
        <a id="buy"></a>
        <!-- /INFO BOXES -->

        <!-- BUY NOW -->
        <section class="buy-now">

          <h3>Get Notified</h3>

          <div class="box full" style="margin-bottom: 0px;">
            <p>
              Dead Simple React Native is on the way! We're writing and recording the lessons right now, with the plan to get them into your hands this summer. You can sign up now to be notified when the course becomes available.
            </p>

            <div class="drip-form">
              <form action="https://www.getdrip.com/forms/903240526/submissions" method="post" data-drip-embedded-form="903240526">
                <h4 data-drip-attribute="headline">Keep Me Informed!</h4>
                <div>
                    <input type="email" id="drip-email" name="fields[email]" value="" placeholder="captaincode@closebrace.com" />
                </div>
                <div class="consent">
                    <input type="hidden" name="fields[eu_consent]" id="drip-eu-consent-denied" value="denied" />
                    <input type="checkbox" name="fields[eu_consent]" id="drip-eu-consent" value="granted" checked />
                    <label for="drip-eu-consent">I consent to receive information from CloseBrace by email</label>
                </div>
                <div>
                    <input type="hidden" name="fields[eu_consent_message]" value="I consent to receive information from CloseBrace by email">
                </div>
                <div>
                  <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button" class="btn btn-primary btn-fat" />
                </div>
              </form>
            </div>
          </div>

<!--

          <h3>Your Purchase Options</h3>

          <div class="box full">
            <p>
              Let's start with the <strong>free stuff</strong>. You'll get these lessons when you purchase a package, too, but if you'd like them delivered for free, one per day over the next four days, just sign up with your email address below!
            </p>
            <ul>
              <li>What is React Native and Why Should You Use It?</li>
              <li>Tools Overview - “Create React Native App” and the Expo Platform</li>
              <li>Basic Setup - Installing CRNA and Expo</li>
              <li>Basic Setup - Installing Device Emulators</li>
            </ul>
            <p>
              Sound good? You know what to do!
            </p>

            <div class="drip-form">
              <form action="https://www.getdrip.com/forms/903240526/submissions" method="post" data-drip-embedded-form="903240526">
                <h4 data-drip-attribute="headline">Keep Me Informed!</h4>
                <div>
                    <input type="email" id="drip-email" name="fields[email]" value="" placeholder="captaincode@closebrace.com" />
                </div>
                <div class="consent">
                    <input type="hidden" name="fields[eu_consent]" id="drip-eu-consent-denied" value="denied" />
                    <input type="checkbox" name="fields[eu_consent]" id="drip-eu-consent" value="granted" checked />
                    <label for="drip-eu-consent">I consent to receive information and tutorials from CloseBrace by email</label>
                </div>
                <div>
                    <input type="hidden" name="fields[eu_consent_message]" value="I consent to receive information and tutorials from CloseBrace by email">
                </div>
                <div>
                  <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button" class="btn btn-primary btn-fat" />
                </div>
              </form>
            </div>
          </div>

          <div class="wrap">

            <div class="box">
              <h4>MVP Package &ndash; 25 Lessons &ndash; <span class="price 5b1eb65b77133a04a14ba865">$149</span></h4>

              <p>
                The MVP Package will get you a finished application that’s been styled, is entirely functional, and that you can run on your phone. This tier is broken up into three sections:
              </p>
              <ul>
                <li>Build Your Components</li>
                <li>Make Them Pretty</li>
                <li>Make Them Work</li>
              </ul>

               [# of users dropdown] - adjusts price as larger groups are selected

              <p class="center">
                <a href="" class="btn btn-primary btn-fat btnBuy5b1eb65b77133a04a14ba865" id="btnBuyReactOnly" data-price="99">Get the MVP Package for <span class="price 5b1eb65b77133a04a14ba865"><strike>$149</strike>$99</span></a>
              </p>
            </div>

            <div class="box">
              <h4>Pro Package &ndash; 32 Lessons &ndash; <span class="price 5b1eb67377133a04a14ba866">$197</span></h4>

              <p>
                The Pro Package includes all twenty-one lessons from the MVP tier, and then augments them with an additional seven lessons that cover more advanced development topics like:
              </p>
              <ul>
                <li>Typing with Facebook’s Flow language</li>
                <li>Testing locally with the Jest testing suite</li>
                <li>Running a beta test with outside user devices</li>
                <li>Deploying your finished app to the App Store and Google Play</li>
              </ul>
              <p>
                Additionally, you’ll be able to download all of the videos to your local machine, and will receive a membership to my Slack channel.
              </p>

               [# of users dropdown] - adjusts price as larger groups are selected 

              <p class="center">
                <a href="" class="btn btn-primary btn-fat btnBuy5b1eb67377133a04a14ba866" id="btnBuyFullStack" data-price="149">Get the Pro Package for <span class="price 5b1eb67377133a04a14ba866"><strike>$199</strike>$149</a>
              </p>
            </div>

            <p class="center" style="flex-basis: 100%; margin: 30px 0;" id="specialText">
              <input type="hidden" id="courseCodes" value="5b1eb65b77133a04a14ba865,5b1eb67377133a04a14ba866" />
              <input type="hidden" id="basePrices" value="149, 297" />
              Coupon: <input type="text" name="coupon" id="coupon" /> <a href="" class="btn btn-grey btn-outline" id="btnCheckCoupon">Apply</a>
            </p>

          </div>
-->
        </section>
        <!-- /BUY NOW -->

        <!-- FAQ -->
        <div class="faq">
          <div class="wrap">
            <h3>FAQ</h3>

            <h4>Help! I lost my email</h4>

            <p><a href="/contact">Drop me a line</a> and we’ll get you sorted out.</p>

            <h4>What Version of React Native does this cover?</h4>

            <p>The course was written for React Native v1.0.0. It should be applicable for many future versions.</p>

            <h4>What about Redux?</h4>

            <p>Redux can definitely be used with React Native, but to keep this course shorter and easier to digest, and because we’re developing a very simple application, I’ve chosen to handle application state without it.</p>

            <h4>How do I view the videos?</h4>

            <p>All videos are embedded in the lessons. If you purchased the pro tier, you can also download the files for local viewing.</p>

            <p>If you buy the full version, you'll get a full course listing too, but you can also download all the videos as sweet, sweet, 1080p resolution MP4 files. The total size of the course is approximately 11.5 GB.</p>

            <h4>Do you offer support?</h4>

            <p>Yes and no. I do hang out in the Slack and will help you get unstuck, but I don’t debug code.</p>

            <h4>How Long is the Money-Back Guarantee Good For?</h4>

            <p>Thirty days from date of purchase. If during that time you're not fully satisfied with your purchase, I'll refund 100%.</p>

            <h4>I live in a country with a much lower yearly average income than the US. Do you offer discounts for that?</h4>

            <p>Absolutely. <a href="/contact">Contact me</a> and I'll get you taken care of.</p>

            <h4>I’m a broke student. Can I get a discount?</h4>

            <p>Yep! Just <a href="/contact">get in touch</a> and I’ll send you the details.</p>

          </div>
        </div>
        <!-- /FAQ -->

      </article>
      <!-- /CONTENT -->


