{{!< wide}}

      <!-- stripe integration -->
      <script src="https://checkout.stripe.com/checkout.js"></script>

      <!-- CONTENT -->
      <article class="category-5mr" id="stripePage">

        <!-- JUMBOTRON -->
        <section class="jumbo">
          <h1>Five Minute React</h1>
          <div class="separator">&nbsp;</div>
          <h2>Learn React, Redux, Webpack and More with Fun, Easy, Bite-sized Lessons</h2>
        </section>
        <!-- /JUMBOTRON -->

        <!-- INTRO & TESTIMONIALS -->
        <section class="intro-testimonials">
          <div class="wrap">
            <div class="flexwrap">
              <div class="intro">
                <h3>Let's Face It &hellip; Most React Tutorials Suck</h3>
                <p>
                  Don’t you hate it when a React Instructor:
                </p>
                <ul>
                  <li>Jumps straight to the flashy stuff without covering critical basic concepts?</li>
                  <li>Teaches you how to build a trivial app that’s useless in the real world?</li>
                  <li>Only focuses on the front-end?</li>
                  <li>Leaves out the nitty gritty details required to build a production-quality app?</li>
                </ul>
                <p class="promo">Five Minute React is different.</p>

                <p>
                  Have you ever wanted to <strong>build a complete single-page web app from scratch?</strong> In <em>Five Minute React</em> that's exactly what you'll do. Sound hard? It's not! In short, simple steps you'll learn through straightforward examples exactly <strong>how to build a fully-operational web application</strong> that includes user registration and authentication.
                </p>

                <p>
                  On the React side, you'll start with basic sample components and become comfortable with <strong>props, container components, lifecycle methods, and 3rd-party modules</strong>. You'll also get a <strong>thorough grounding in managing application state</strong> with Redux actions and reducers.
                <p>

                <p>
                  On the back-end, you'll <strong>build an entire API</strong> to power your React application, using Express and MongoDB. Not familiar with those tools? Grab the full-stack package and <strong>we’ll cover absolutely everything</strong>, including all of the installation and setup of everything you’ll need before diving in.
                </p>

                <p>
                  Every single lesson comes with full video and full text. <strong>Nothing is skipped</strong>; you'll get every line of code you'll need, with thorough explanations of what that code is doing. We’ll give you the tools and knowledge you need to <strong>develop any web app your heart desires</strong>.
                </p>

                <p>
                  And if you don't think the course was worth your money, it comes with a <strong>100% money-back guarantee</strong>.
                </p>

                <p>Here's a sampling of what you'll work with:</p>

                <div class="logos">
                  <img src="/images/home_logo_js.png" alt="JavaScript logo" />
                  <img src="/images/home_logo_node.png" alt="Node.js logo" />
                  <img src="/images/home_logo_react.png" alt="React logo" />
                  <img src="/images/home_logo_express.png" alt="Express logo" />
                  <img src="/images/home_logo_mongodb.png" alt="MongoDB logo" />
                  <img src="/images/home_logo_webpack.png" alt="Webpack logo" />
                  <img src="/images/home_logo_jest.png" alt="Jest logo" />
                </div>
              </div>
              <div class="testimonials">
                <p class="testimonial">
                  <span>“In the space of Full-Stack MERRN (I added the second R for Redux)&mdash;a single course that stitches everything together&mdash;there is no course online or off that comes anywhere close to what you have been able to provide &hellip; as a new programmer who has taken online courses in all of these areas, Five Minute React was invaluable. Everything about it is great.</span>
                  Gregg Squire
                </p>

                <p class="testimonial">
                  <span>“CloseBrace really helped me in shifting my career from being a BioInformatician to a Web Developer. With his clear and instructive tutorials I was able to launch my first React site in two months’ time. Without CloseBrace, I wouldn't have managed.”</span>
                  Sjors van Heuveln
                </p>

                <p class="testimonial">
                  <span>“Your 5 Minute ReactJS course is, in my opinion, the best React course out there.”</span>
                  Nick Wood
                </p>

                <p class="testimonial">
                  <span>“Great tutorial, thanks! Very clear and simple instructions. You definitely deserve more subscribers.”</span>
                  Timo Ernst
                </p>

                <p class="testimonial">
                  <span>“Thank you for the tutorial series and all the useful stuff you are providing. It helped me get confident with React and understand many basics.”</span>
                  Samos
                </p>
              </div>
            </div>

            <p class="center">
              <a href="#buy" class="btn btn-secondary btn-fat">Learn React Now</a>
            </p>
          </div>
        </section>
        <!-- /INTRO & TESTIMONIALS -->

        <!-- ABOUT -->
        <div class="about">
          <div class="wrap clearfix">
            <img src="https://res.cloudinary.com/closebrace/image/upload/w_250/v1484848633/gcaop3sf94t5fzonuqv3.jpg" alt="Christopher Buecheler picture" />
            <h3>About The Author</h3>
            <p>
              I’m Christopher Buecheler, a self-taught web developer with over 20 years of professional experience. I’ve worked as a developer for a variety of internet companies. I founded CloseBrace because I love the tech I work with and wanted to share what I’ve learned with other developers. I believe anyone can learn Node, Express, React, or anything else they’d like, and I want to help you do it!
            </p>
          </div>
        </div>
        <!-- /ABOUT -->

        <!-- INFO BOXES -->
        <div class="infoboxes">
          <div class="wrap">
            <div class="box flex-1">
              <h3>What Are the Prerequisites?</h3>
              <p>
                You should be very comfortable with basic JavaScript concepts like variables, for loops, switch statements, and the like. Familiarity with XHR and asynchronous coding is a plus. You should have a general understanding of how APIs work and what HTTP requests do. This course uses ES2015 (aka ES6), but those features are explained in the lessons as they come up.
              </p>
              <p>
                That’s about it. If you’ve taken a front-end bootcamp, you’re probably ready for this course!
              </p>
            </div>

            <div class="box flex-3">
              <h3>What Do I Get?</h3>
              <p>
                84 bite-sized lessons, roughly nine hours of video, a complete git repo, and a thorough grounding in everything you need to build a real-world, production quality React application . Here are some things you’ll do during this course:
              </p>

              <h4>React-Only Tier</h4>

              <ul>
                <li>Become familiar with React components, including using props, container components, and component state.</li>
                <li>Learn the difference between class-based and pure function components and when to use each.</li>
                <li>Become familiar with Redux, the industry standard for app state management, including detailed explanations of actions, action creators, reducers, and the Store.</li>
                <li>Build an internal API for data handling and connect your React app to it.</li>
                <li>Work with an external API service.</li>
                <li>Build an entire front-end application that includes error handling, validation, and front-end routing.</li>
                <li>Set up a server and deploy your app live on the internet.</li>
              </ul>

              <h4>Full-Stack Tier</h4>

              <ul>
                <li>Set up everything you’ll need. Text editor, database, web server, transpiler, bundler, etc.</li>
                <li>Learn about linting with ESLint, testing with Jest, and version control with Git</li>
                <li>Work with one of the most popular authentication packages for Express to allow users to register, log in, and log out.</li>
                <li>Get an introduction to how Webpack works and use it to bundle your React app, Bootstrap, and custom CSS.</li>
              </ul>
            </div>

            <div class="box listing flex-2">
              <h3 class="margin">Full Course Listing</h3>
              <div id="coursesButton" class="show"><a href="#" class="btn btn-primary btn-outline" id="btnShowAllCourses">Show All Courses</a></div>
              <div id="allCourses" class="all-courses hide">
                <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394405/hqprgxqwhc1oe0sqdsld.png" alt="Five Minute React 01 - Installing Sublime Text" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394428/nvqxx6pakv57hgajjuos.png" alt="Five Minute React 02 - Configuring Sublime Text" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394457/d0lwwvm1fvbmw3g1hptf.png" alt="Five Minute React 03 - Installing Node" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394476/hpl9lg5xemqv710ryh9u.png" alt="Five Minute React 04 - Package Control" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394499/g5gyygjjdsico2h6vfjd.png" alt="Five Minute React 05 - Using Node Modules" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394527/vutmcsjrylooi047idyy.png" alt="Five Minute React 06 - Installing MongoDB" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394548/vkx4wkavqu2q6r6hcf76.png" alt="Five Minute React 07 - Using MongoDB" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394614/iei2vxn32fgkxg87axjr.png" alt="Five Minute React 08 - Version Control Part 1" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394631/wkpkrpl49xovzdevdrqn.png" alt="Five Minute React 09 - Version Control Part 2" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394652/iltkrirexfavtlmnbewi.png" alt="Five Minute React 10 - Installing Express" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394667/eramht8yg5rygtcf1xwq.png" alt="Five Minute React 11 - Intro to Express Part 1" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394691/vesnclyuaaawpvseiiwp.png" alt="Five Minute React 12 - Intro to Express Part 2" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394714/a98ixkiuzkuwgo8vkskh.png" alt="Five Minute React 13 - Express Routing" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394734/yhsty437z78ylwrzydjd.png" alt="Five Minute React 14 - Express Cleanup and API Setup" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394750/g7mzfauxwmi5axpdqmje.png" alt="Five Minute React 15 - Git Branching" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394769/s0kxs7dk9yrp5qcpqvfa.png" alt="Five Minute React 16 - Data Modeling" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394790/efmgg0hwdraxizud0lob.png" alt="Five Minute React 17 - Installing Passport" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394807/lzrtbe4byee6sezc6ax1.png" alt="Five Minute React 18 - Setting Up Testing" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394823/egcqlf1ufqmjcobgdzvc.png" alt="Five Minute React 19 - Testing With Jest" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394904/avcjddm8kqpmlfolwd4z.png" alt="Five Minute React 20 - Testing an API Endpoint" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516394994/omttrmpcgqe7koso3a0g.png" alt="Five Minute React 21 - Working With ESLint" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395007/nofdhzh4xgclfjed5ead.png" alt="Five Minute React 22 - ESLint From The Command Line" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395018/pibyp9dvxtxktltuexor.png" alt="Five Minute React 23 - Installing React Necessities" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395031/zs1jgaiqek0c0aru55b2.png" alt="Five Minute React 24 - Setting Up Webpack" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395045/aagt61wswhpppimxh2eb.png" alt="Five Minute React 25 - Our First React Components" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395072/zxmulovyeg9uvbcp9qhx.png" alt="Five Minute React 26 - Using Props In React" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395089/iafnmfhgg8cnbook8nbx.png" alt="Five Minute React 27 - Webpack Hot-Reloading Part 1" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395101/udcpaqunwoblinh6orfh.png" alt="Five Minute React 28 - Webpack Hot-Reloading Part 2" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395115/uwwfhl5j0itogbyey7zm.png" alt="Five Minute React 29 - React Folders and Template" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395129/hktcqmnnnjgctbgf6ajq.png" alt="Five Minute React 30 - Building Out Components" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395143/eoifgkjkivpi3dr7y730.png" alt="Five Minute React 31 - React Routing" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395160/rfvvzzcyjaqga143hohp.png" alt="Five Minute React 32 - Fixing Webpack" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395173/amduphhaaykalo3kk8ep.png" alt="Five Minute React 33 - DRYing Your Code" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395190/pwwmrz2p8ahf0gpdjjkt.png" alt="Five Minute React 34 - Adding Bootstrap" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395207/n2tbuqjj1chgswhjyk6q.png" alt="Five Minute React 35 - Classes and State" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395224/doxcwro7jqz6y4ry3qnk.png" alt="Five Minute React 36 - Building a Log In Page" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395239/adlfqgkx4uh9uorlgw2u.png" alt="Five Minute React 37 - API Endpoint: Registration" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395250/ib4g0mblm3rb6frjhpz8.png" alt="Five Minute React 38 - Log In and Log Out" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395281/bpw5usnzrcw1etuql2ns.png" alt="Five Minute React 39 - A Basic Intro to Redux" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395306/wjnamwhqfktec33tqdeg.png" alt="Five Minute React 40 - Setting Up The Store" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395321/wp0xav491utmh70sgexf.png" alt="Five Minute React 41 - Redux Actions" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395336/vrgbv8x2eggja8dseieo.png" alt="Five Minute React 42 - Redux Tools" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395356/mp90jozbeaknvmnaqapg.png" alt="Five Minute React 43 - Optimizing for Production Part 1" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395382/drywlq3ttpvbfewbdry5.png" alt="Five Minute React 44 - Optimizing Part 2" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395394/olbyt1ymzthoszucnu9q.png" alt="Five Minute React 45 - Wiring Up Log-In Part 1" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395411/s9aayku5kvtezdxxw4nm.png" alt="Five Minute React 46 - Wiring Up Log-In Part 2" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395427/tggs1avfny5bqt2icpnd.png" alt="Five Minute React 47 - Wiring Up Log-In Part 3" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395442/rkvkq9lypuxuce9h3enz.png" alt="Five Minute React 48 - Displaying User Information" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395458/tcizxzbkoa2awukr6pis.png" alt="Five Minute React 49 - Intro to Component Lifecycle" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395472/gdywzsinxpwyfzua35ok.png" alt="Five Minute React 50 - Logging Out" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395487/lfif1hpn6auf8hrvvq3n.png" alt="Five Minute React 51 - Asynchronous Actions" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395499/jfzu49zjobrdex4fze5r.png" alt="Five Minute React 52 - Refactoring Log-In" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395516/fy43fktbe9dl0o2ahrck.png" alt="Five Minute React 53 - Final Action Refactoring" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395530/w8rfkaifjaw1dg8gkex7.png" alt="Five Minute React 54 - Building A Registration Page" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395544/vno1nbyaoqdr4qymieuk.png" alt="Five Minute React 55 - Sending to the Registration API" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395566/ijdqlvc0setuu2gl2zzp.png" alt="Five Minute React 56 - Registration Success Page" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395590/oocxysrum87pqbixfw6z.png" alt="Five Minute React 57 - Error Handling" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395617/j2n23wlulnyuamwptak2.png" alt="Five Minute React 58 - Front-End Validation" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395634/mkwauydq1zmdj0pdezbl.png" alt="Five Minute React 59 - Back-End Validation" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395651/gti9z5k97aocrntqaevb.png" alt="Five Minute React 60 - Reset Password Part 1" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395668/xdrh30mus4uxspdsehh2.png" alt="Five Minute React 61 - Reset Password Part 2" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395699/opyigw6zdidzbhqqutfc.png" alt="Five Minute React 62 - Setting Up SMTP" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395713/eztw3udksxj6m2ydkoqw.png" alt="Five Minute React 63 - Securing Secrets" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395735/jkngou3uwxtttb8tpacx.png" alt="Five Minute React 64 - Save Password Part 1" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395848/wxqyp9o90wup64eoawfg.png" alt="Five Minute React 64.5 - Fix The Production Build" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395867/mkqdyijbccuhyrecplo4.png" alt="Five Minute React 65 - Save Password Part 2" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395880/kjjxey6amidaqhiylq3b.png" alt="Five Minute React 66 - Save Password Part 3" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395899/isftf40gvcz0ajkvxcxk.png" alt="Five Minute React 67 - Setting Up An External API" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395914/aqxg2xftn7fpwzuqrevx.png" alt="Five Minute React 68 - Search Albums" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395930/worlxlqn3ksklahwjsxm.png" alt="Five Minute React 69 - Add Album Front-End" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395946/chwratpq4nyaklkctbes.png" alt="Five Minute React 70 - Add Album Back-End" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395962/xmwdzxqhw6y9assmdpqb.png" alt="Five Minute React 71 - Saving Music Data Locally" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395980/s9j06hrw4j4x0tove2sz.png" alt="Five Minute React 72 - Search and Add Artists" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516395999/lmqeu1lodle6mksxt4vn.png" alt="Five Minute React 73 - View a User&#x27;s List" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516396019/valmxkgzrqt7hhdp2c8y.png" alt="Five Minute React 74 - Improving Music Lists" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516396038/zjisjqk4pzhibcez4ijt.png" alt="Five Minute React 75 - Wire Up Remove Buttons" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516396057/pkdhwmdvkr0ywrbm897c.png" alt="Five Minute React 76 - Upgrade Node and React" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516396090/vqp3xgpurrtjlaudoqsd.png" alt="Five Minute React 77 - Improving The Home Page" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516396104/h0r5xnbdtepp0r4siqvh.png" alt="Five Minute React 78 - Final Webpack Optimizations" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516396118/xw1zarutgxpjmwzmj7dh.png" alt="Five Minute React 79 - Securing Express" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516396132/nbr0sxqyve0rll9pqizf.png" alt="Five Minute React 80 - Set Up a Server" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516396194/yp7cukcppdum0od6twfp.png" alt="Five Minute React 81 - Create a Superuser" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516396212/mhypjyv9t5j4d5brrytj.png" alt="Five Minute React 82 - Merging to Master" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516396226/tyrtdwkvabnei0kigx8q.png" alt="Five Minute React 83 - Install Node and MongoDB" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516396246/aj77rzzskh6yfaxagcmb.png" alt="Five Minute React 84 - Secure MongoDB and Finalize" /></p>
                  <p class="center"><img src="https://res.cloudinary.com/closebrace/image/upload/h_100/v1516910862/dl5n2pf204osohbebiww.png" alt="Five Minute React - Wrapup" /></p>
                </div>
            </div>
          </div>
        </div>
        <a id="buy"></a>
        <!-- /INFO BOXES -->

        <!-- BUY NOW -->
        <section class="buy-now">
          <div class="wrap">
            <h3>Your Purchase Options</h3>

            <div class="box">
              <h4>Option 1 - React-Only Package - <span class="price 5b1eb65b77133a04a14ba865">$149</span></h4>
              <p>
                If you’re a developer who’s already comfortable getting your text editor, Yarn, Express, MongoDB, Jest, ESLint, Babel, Webpack, etc. set up on your own, and doesn’t need an introduction to Express, this package will get you started coding right away. You’ll get:
              </p>
              <ul>
                <li>A text-based overview of the first 24 lessons</li>
                <li>All necessary files from those lessons</li>
                <li>The remaining lessons (25 - 84)</li>
                <li>Access to ALL Source Code</li>
              </ul>
              <p class="center">
                <a href="" class="btn btn-primary btn-fat btnBuy5b1eb65b77133a04a14ba865" id="btnBuyReactOnly" data-price="149">Get the React-Only Package for <span class="price 5b1eb65b77133a04a14ba865">$149</span></a>
              </p>
            </div>

            <div class="box">
              <h4>Option 2 - Full-Stack Package - <span class="price 5b1eb67377133a04a14ba866">$297</span></h4>
              <p>
                Not as experienced with Express, Node, or MongoDB? Not sure how to get everything up and running on your machine? Just want to make sure you have absolutely all of the instruction, whether you need it or not? This is the package for you. You’ll get:
              </p>
              <ul>
                <li>ALL 84 lessons</li>
                <li>Access to ALL Source Code</li>
                <li>Download Videos to Your Local Machine</li>
                <li>Lifetime access to my Slack support channel</li>
              </ul>
              <p class="center">
                <a href="" class="btn btn-primary btn-fat btnBuy5b1eb67377133a04a14ba866" id="btnBuyFullStack" data-price="297">Get the Full-Stack Package for <span class="price 5b1eb67377133a04a14ba866">$297</a>
              </p>
            </div>

            <p class="center" style="flex-basis: 100%; margin: 30px 0;" id="specialText">
              <input type="hidden" id="courseCodes" value="5b1eb65b77133a04a14ba865,5b1eb67377133a04a14ba866" />
              <input type="hidden" id="basePrices" value="149, 297" />
              Coupon: <input type="text" name="coupon" id="coupon" /> <a href="" class="btn btn-grey btn-outline" id="btnCheckCoupon">Apply</a>
            </p>

            <div class="box" style="max-width: 600px; align-self: center">
              <p>
                Not sure yet? How about <strong>seven lessons for free?</strong> Sign up now and you'll get the following lessons delivered to your inbox, one per day:
              </p>
              <ul>
                <li>Our First React Components</li>
                <li>Using Props In React</li>
                <li>React Routing</li>
                <li>A Basic Intro to Redux</li>
                <li>Using MongoDB</li>
                <li>Data Modeling with Mongoose</li>
                <li>Testing With Jest</li>
              </ul>
              <p>
                Sound good? You know what to do!
              </p>

              <div class="drip-form">
                <form action="https://www.getdrip.com/forms/459473547/submissions" method="post" data-drip-embedded-form="459473547">
                <div>
                    <label for="drip-email">Email Address</label>
                    <input type="email" id="drip-email" name="fields[email]" value="" placeholder="captaincode@closebrace.com" />
                </div>
                <div class="center">
                  <input type="submit" value="Send Me My Free Lessons" data-drip-attribute="sign-up-button" class="btn btn-primary btn-fat" />
                </div>
              </form>
            </div>
          </div>
        </section>
        <!-- /BUY NOW -->

        <!-- FAQ -->
        <div class="faq">
          <div class="wrap">
            <h3>FAQ</h3>

            <h4>Help! I lost my email</h4>

            <p><a href="/contact">Drop me a line</a> and we’ll get you sorted out.</p>

            <h4>What Version of React does this cover?</h4>

            <p>The course was written for React 16.1</p>

            <h4>Why are you still using Redux instead of the new Context API?</h4>

            <p>Once the Context API solidifies, I’ll be releasing an inexpensive expansion pack showing how to convert from Redux to Context. For now, Redux is what’s being used out there in the real world, so that’s what I’m teaching.</p>

            <h4>What if I don't use Sublime Text?</h4>

            <p>You'll be fine in Atom, VS Code, or the text editor of your choice. Nothing in this tutorial requires Sublime, but I can't provide any info on syntax highlighting, code formatting, or linting in other editors.</p>

            <h4>How do I view the videos?</h4>

            <p>If you bought the React-only version, you’ll be emailed a link to a course listing that contains links to all of your lessons.</p>

            <p>If you buy the full version, you'll get a full course listing too, but you can also download all the videos as sweet, sweet, 1080p resolution MP4 files. The total size of the course is approximately 11.5 GB.</p>

            <h4>Do you offer support?</h4>

            <p>Yes and no. I do hang out in the Slack and will help you get unstuck, but I don’t debug code.</p>

            <h4>How Long is the Money-Back Guarantee Good For?</h4>

            <p>Thirty days from date of purchase. If during that time you're not fully satisfied with your purchase, I'll refund 100%.</p>

            <h4>I live in a country with a much lower yearly average income than the US. Do you offer discounts for that?</h4>

            <p>Absolutely. <a href="/contact">Contact me</a> and I'll get you taken care of.</p>

            <h4>Do you offer volume discounts for businesses looking to train multiple developers?</h4>

            <p>I do indeed. <a href="/contact">Contact me</a> for more information.</p>

            <h4>I’m a broke student. Can I get a discount?</h4>

            <p>Yep! Just <a href="/contact">get in touch</a> and I’ll send you the details.</p>

          </div>
        </div>
        <!-- /FAQ -->

      </article>
      <!-- /CONTENT -->


