{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
  },
  "rules": {
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "no-console": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
  }
}
