<nav class="social-icons">
  <span>Visit Us: </span>
  <ul>
    <li><a href="https://www.youtube.com/channel/UCuRrj99X_0F0Eoux7EOgbHw" target="_blank" class="youtube">YouTube</a></li>
    <li><a href="https://twitter.com/closebracejs" target="_blank" class="twitter">Twitter</a></li>
  </ul>
</nav>