<nav class="social-icons">
  <span>Visit Us: </span>
  <ul>
    <li><a href="https://www.youtube.com/channel/UCuRrj99X_0F0Eoux7EOgbHw" target="_blank" class="youtube">YouTube</a></li>
    <li><a href="https://twitter.com/closebracejs" target="_blank" class="twitter">Twitter</a></li>
    <li><a href="https://www.facebook.com/closebrace/" target="_blank" class="facebook">Facebook</a></li>
    <li><a href="https://www.instagram.com/closebrace/" target="_blank" class="instagram">Instagram</a></li>
  </ul>
</nav>