    <!-- FOOTER -->
    <footer {{#if specialfooter}}class="special-footer"{{/if}}>
      &copy; <span class="copy-date">2017</span> CloseBrace&trade;, LLC.<br />
      {{> main_menu }}
      {{> footer_menu }}
      {{> footer_social }}
      {{> powered_by }}
    </footer>
    <!-- /FOOTER -->