        <div class="search">
          <button type="button" class="btn btn-grey btn-outline btn-search" id="btnSearch">Search</button>
          <div class="search-box" id="searchBox">
            <input type="text" placeholder="search" class="searchbox" />
            <button type="button" class="search-button">Go</button>
            <a href="#" id="lnkSearchClose" class="close-link">X</a>
          </div>
        </div>