        <!-- SIDEBAR BOX - Tutorial info (non-mobile) -->
        <div class="sidebar-box hide-mobile">
          <div class="top-border"></div>
          <div class="sidebar-box-inner">
            <h3>Tutorial Info</h3>

          </div>
        </div>
        <!-- /SIDEBAR BOX -->