        <!-- SIDEBAR BOX - Newsletter -->
        <div class="sidebar-box">
          <div class="top-border"></div>
          <div class="sidebar-box-inner">
            <h3 class="short-margin">Get Weekly Updates</h3>
            <p class="tiny no-top-margin">Tutorial News and JS Tips in your inbox every Friday.</p>
            <form action="https://www.getdrip.com/forms/33119189/submissions" method="post" data-drip-embedded-form="33119189">
              <fieldset class="sidebar">
                <div>
                  <label for="drip-email">Email Address
                  <input type="email" id="drip-email" name="fields[email]" value="" /></label>
                </div>
                <div>
                  <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button" class="btn btn-primary" />
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <!-- /SIDEBAR BOX -->