{{#unless user.isPro}}
  {{#unless hideAds}}
            <!-- SIDEBAR BOX - ad -->
        <div class="sidebar-box">
          <div class="top-border"></div>
          <div class="sidebar-box-inner ad">
            <p>
              advertisement<br />
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- CloseBrace Test - Responsive -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-8948395083004413"
                   data-ad-slot="5404635701"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              <span class="adblock-notice"></span>
              <noscript>Ad revenue is what allow us to keep this site running. If you have JavaScript turned off to disable ads, we'd appreciate it if you considered our <a href="/go-pro/">affordable CloseBrace Pro plan</a> instead. You can also <a href="/privacy-policy#ads">learn more about our anti-invasive advertising policy</a> by clicking here. Thanks!</noscript>
            </p>
          </div>
        </div>
        <!-- /SIDEBAR BOX -->
  {{/unless}}
{{/unless}}
