        <!-- SIDEBAR BOX - Newsletter -->
        <div class="sidebar-box">
          <div class="top-border"></div>
          <div class="sidebar-box-inner">
            <a class="twitter-timeline" data-link-color="#01a345" href="https://twitter.com/closebracejs" data-height="500">Tweets by closebracejs</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
        <!-- /SIDEBAR BOX -->