{{#unless user.isPro}}
        <!-- SIDEBAR BOX - Newsletter -->
        <div class="sidebar-box special">
          <div class="top-border"></div>
          <div class="sidebar-box-inner">
            <h3 style="text-shadow: 0 0 5px #FFF">Support CloseBrace</h3>
            <p>
              No ads, increased support options, and more, starting at five bucks a month.
            </p>
            <p class="no-margin">
              <strong><a href="/go-pro">Learn more about CloseBrace Pro</a></strong>
            </p>
          </div>
        </div>
        <!-- /SIDEBAR BOX -->
{{/unless}}