        <div class="user-box">
          <p>
            {{#if user}}
              Welcome, {{user.name.first }}<br />
              <a href="">My Account</a> | <a href="/keystone/signout">Log Out</a>
            {{else}}
              <a href="/keystone/signin">Log In</a>
            {{/if}}
          </p>
          <img src="/images/tempuser.jpg" alt="User Icon" class="user-icon hide-phone" />
        </div>