{{!< default}}

      <!-- CONTENT -->
      <article class="single-column">

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Forgot Password</h1>
        </section>
        <!-- /TITLE BOX -->

        <div class="form form-signup">
          <p>
            Forgot your password? Just want to change it? No problem!
          </p>
          <p>
            Just enter your email address below, and we'll send you a link. Click the link, reset your password, and you'll be back in.
          </p>
          <div id="errorBox"></div>
          <form name="formLogin" method="post" action="/account/forgot-password">
            <input type="hidden" name="action" value="reset" />
            <fieldset>
              <label>Email <input type="email" name="userEmail" placeholder="codeguy@closebrace.com" /></label>
              <label>
            </fieldset>
            <button type="submit" id="btnForgotPasswordSubmit" class="btn btn-primary">Send Link</button>
          </form>
        </div>

      </article>
      <!-- /CONTENT -->

<script>
document.addEventListener("DOMContentLoaded", function() {
  var validator = new FormValidator('formLogin', [
    {
        name: 'userEmail',
        display: 'Email',
        rules: 'required|valid_email',
    },
  ],
  function(errors) {
    if (errors.length > 0) {
      var errorString = '';
      for (var i = 0; i < errors.length; i++) {
        errorString += errors[i].message + '<br />';
      }
      document.getElementById('errorBox').innerHTML = errorString;
    }
  });
});
</script>