{{!< default}}

      <!-- CONTENT -->
      <article class="single-column">

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Log In</h1>
        </section>
        <!-- /TITLE BOX -->

        <div class="form form-signup">
          <div id="errorBox" class="error-box"></div>
          <form name="formLogin" method="post" action="/account/log-in">
            <input type="hidden" name="action" value="login" />
            <fieldset>
              <label>Email <input type="email" name="userEmail" placeholder="codeguy@closebrace.com" id="userEmail" /></label>
              <label>Password <input type="password" name="userPassword" /></label>
              <label>
            </fieldset>
            <button type="submit" id="btnLogInSubmit" class="btn btn-primary">Log In</button>
          </form>
          <p>
            Forgot your password? <a href="/account/forgot-password">Click here to reset it</a>.
          </p>
        </div>

      </article>
      <!-- /CONTENT -->

<script>
document.addEventListener('DOMContentLoaded', function() {

  // give the username box focus on page load
  document.getElementById('userEmail').focus();

  // validator
  var validator = new FormValidator('formLogin', [
    {
        name: 'userEmail',
        display: 'Email',
        rules: 'required|min_length[6]|validator_email_regex',
    },
    {
        name: 'userPassword',
        display: 'Password',
        rules: 'required'
    }
  ],
  function(errors) {
    if (errors.length > 0) {
      document.getElementById('errorBox').style.display = 'block';
      var errorString = '';
      for (var i = 0; i < errors.length; i++) {
        var messages = errors[i].messages;
        for (var t = 0; t < messages.length; t++) {
          errorString += messages[t] + '<br />';
        }
      }
      document.getElementById('errorBox').innerHTML = errorString;
    }
  });
  validator.registerCallback('email_regex', function(value) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (re.test(value)) {
          return true;
      }

      return false;
  })
  .setMessage('email_regex', 'Sorry, that doesn\'t appear to be a valid email address.');
});
</script>