{{!< default}}

      <!-- CONTENT -->
      <article class="single-column">

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Sign Up</h1>
        </section>
        <!-- /TITLE BOX -->

        <div class="form form-signup">
          <div id="errorBox" class="error-box"></div>
          <form name="formRegistration" method="post" action="/account/register">
            <input type="hidden" name="action" value="register" />
            <fieldset>
              <label>Email <input type="email" name="userEmail" placeholder="codeguy@closebrace.com"  value="{{formData.userEmail}}" /></label>
              <label>First Name <input type="text" name="userFirstName" placeholder="Given Name" value="{{formData.userFirstName}}" /></label>
              <label>Last Name <input type="text" name="userLastName" placeholder="Family Name" value="{{formData.userLastName}}" /></label>
              <label>Username <input type="text" name="userUsername" placeholder="CaptainCodeGuy" value="{{formData.userUsername}}" /></label>
              <label>Password <input type="password" name="userPassword" placeholder="minimum 8 chars" /></label>
              <label>
            </fieldset>
            <button type="submit" id="btnRegisterSubmit" class="btn btn-primary">Register</button>
          </form>
        </div>

      </article>
      <!-- /CONTENT -->

<script>
document.addEventListener("DOMContentLoaded", function() {
  var validator = new FormValidator('formRegistration', [
    {
        name: 'userEmail',
        display: 'Email',
        rules: 'required|valid_email|min_length[6]',
    },
    {
        name: 'userUsername',
        display: 'Username',
        rules: 'required|min_length[4]|alpha_numeric',
    },
    {
        name: 'userFirstName',
        display: 'First Name',
        rules: 'required'
    },
    {
        name: 'userLastName',
        display: 'Last Name',
        rules: 'required'
    },
    {
        name: 'userPassword',
        display: 'Password',
        rules: 'required|min_length[8]'
    }
  ],
  function(errors) {
    if (errors.length > 0) {
      var errorString = '';
      for (var i = 0; i < errors.length; i++) {
        var messages = errors[i].messages;
        for (var t = 0; t < messages.length; t++) {
          errorString += messages[t] + '<br />';
        }
      }
      document.getElementById('errorBox').innerHTML = errorString;
    }
  });
});
</script>