{{!< default}}

      <!-- CONTENT -->
      <article class="single-column">

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Successfully Registered</h1>
        </section>
        <!-- /TITLE BOX -->

        <div class="content">
          <p>
            Thanks for registering! Please check your email for a confirm link which, when clicked, will verify that you are the owner of the email address associated with your account. You can keep on using CloseBrace with this account for ten days, but until you're confirmed, some parts of the site will be inaccessible to you. If you have not confirmed your account within ten days, the account will be removed and you'll have to sign up again.
          </p>
          <p>
            Didn't get your confirm link? Please wait a few minutes to make sure it's not still in transit, but if you're certian it didn't show up, you can <a href="/account/confirm-send">click here to re-send it</a>, or send it again at any time by visiting <a href="/account/profile">your account page</a>.
          </p>
        </div>

      </article>
      <!-- /CONTENT -->