{{!< default}}

      <!-- CONTENT -->
      <article class="single-column">

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Reset Password</h1>
        </section>
        <!-- /TITLE BOX -->

        <div class="form form-signup">
          <p>
            Please reset your password. This will forever overwrite whatever your old password was. Use caution!
          </p>
          <div id="errorBox" class="error-box"></div>
          <form name="formLogin" method="post">
            <input type="hidden" name="action" value="reset-password" />
            <fieldset>
              <label>New Password <input type="password" name="userPassword" placeholder="minimum 10 chars" /></label>
              <label>
            </fieldset>
            <button type="submit" id="btnResetPasswordSubmit" class="btn btn-primary">Reset Password</button>
          </form>
        </div>

      </article>
      <!-- /CONTENT -->

<script>
document.addEventListener("DOMContentLoaded", function() {
  var validator = new FormValidator('formLogin', [
    {
        name: 'userPassword',
        display: 'Password',
        rules: 'required|min_length[10]'
    }
  ],
  function(errors) {
    if (errors.length > 0) {
      document.getElementById('errorBox').style.display = 'block';
      var errorString = '';
      for (var i = 0; i < 3; i++) {
        var messages = errors[i].messages;
        for (var t = 0; t < messages.length; t++) {
          errorString += messages[t] + '<br />';
        }
      }
      document.getElementById('errorBox').innerHTML = errorString;
    }
  });
});
</script>