{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Courses Index</h1>
        </section>
        <!-- /TITLE BOX -->

        <p>Coming Soon Y'all</p>

      </article>
      <!-- /CONTENT -->
