{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Lesson: </h1>
        </section>
        <!-- /TITLE BOX -->

        <p>This is a lesson page</p>

      </article>
      <!-- /CONTENT -->
